@using DevExpress.AspNetCore
@using DenimERP.Reports.COM_IMP
@using rptBillSubmit = DenimERP.Reports.COM_IMP.rptBillSubmit

@model int

@{
    ViewData["Title"] = "Commercial Import";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptBillSubmit())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}