@using DevExpress.AspNetCore
@using DenimERP.Reports.Post_Costing
@using rptBuyerWiseCostAnalysis = DenimERP.Reports.Post_Costing.rptBuyerWiseCostAnalysis

@model int

@{
    ViewData["Title"] = "Buyer Wise Status Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptBuyerWiseCostAnalysis())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}