@using DevExpress.AspNetCore
@using DenimERP.Reports.Fabric_Store
@using RPT_Fabric_Challan_Wise_Del = DenimERP.Reports.Fabric_Store.RPT_Fabric_Challan_Wise_Del


@model string

@{
    ViewData["Title"] = "Challan Wise Delivery Report (Fabric Store)";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new RPT_Fabric_Challan_Wise_Del())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}