@using DevExpress.AspNetCore
@using DenimERP.Reports.Chemical_Store
@using RPT_Chemical_date_wise_rcv = DenimERP.Reports.Chemical_Store.RPT_Chemical_date_wise_rcv


@{
    ViewData["Title"] = "Chemical Date Wise Receive Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new RPT_Chemical_date_wise_rcv())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}