@using DevExpress.AspNetCore
@using DenimERP.Reports.Fabric_Store
@using RPT_DAILY_FABRIC_DELIVERY = DenimERP.Reports.Fabric_Store.RPT_DAILY_FABRIC_DELIVERY
@model int

@{
    ViewData["Title"] = "Daily Fabric Delivery Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new RPT_DAILY_FABRIC_DELIVERY())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}