@using DevExpress.AspNetCore
@using DenimERP.Reports.Inspection
@using rpt_Ins_DailyBulkRejiection = DenimERP.Reports.Inspection.rpt_Ins_DailyBulkRejiection
@model int

@{
    ViewData["Title"] = "Daily Bulk Rejection Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rpt_Ins_DailyBulkRejiection())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}