@using DevExpress.AspNetCore
@using DenimERP.Reports.APCD
@using DenimERP.Views.FPrInspectionProcess.Reports
@using DenimERP.Views.RndFabricInfo.Reports
@using rptDaily_Prod_Insp = DenimERP.Views.FPrInspectionProcess.Reports.rptDaily_Prod_Insp

@{
    ViewData["Title"] = "Daily Inspection Production Report";
    Layout = Layout;
}
<h2>Daily Inspection Production Report</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptDaily_Prod_Insp())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}