@using DevExpress.AspNetCore
@using DenimERP.Reports.Inspection
@using rptDailyStyleWiseProduction = DenimERP.Reports.Inspection.rptDailyStyleWiseProduction
@model int

@{
    ViewData["Title"] = "Date & Style Wise Production Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptDailyStyleWiseProduction())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}