@using DevExpress.AspNetCore
@using DenimERP.Reports.General_store
@using RPT_GS_DATE_WISE_ISSUE = DenimERP.Reports.General_store.RPT_GS_DATE_WISE_ISSUE
@model int

@{
    ViewData["Title"] = "Date Wise Issue Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new RPT_GS_DATE_WISE_ISSUE())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}