@using DevExpress.AspNetCore
@using DenimERP.Reports.Sizing
@using rptDateWiseSizing_Consumption = DenimERP.Reports.Sizing.rptDateWiseSizing_Consumption

@model int

@{
    ViewData["Title"] = "Date Wise Sizing Consumption Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptDateWiseSizing_Consumption())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}