@using DevExpress.AspNetCore
@using DenimERP.Reports.Customs
@using rptDateWiseCustomsReport = DenimERP.Reports.Customs.rptDateWiseCustomsReport

@{
    ViewData["Title"] = "Date Wise Customs Report";
}

<h2> @ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptDateWiseCustomsReport())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}