@using DevExpress.AspNetCore
@using DenimERP.Reports.Clearance
@using rpt_Clearance_Datewise_data = DenimERP.Reports.Clearance.rpt_Clearance_Datewise_data
@model int

@{
    ViewData["Title"] = "Wash Code Wise Roll Process Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rpt_Clearance_Datewise_data())
}

@section Styles {
<partial name="_LayoutReport" />
}

@section Scripts {
<script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}