
@using DevExpress.AspNetCore
@using DenimERP.Reports.Fabric_Store
@using RPT_FABRIC_DO_WISE_BALANCE = DenimERP.Reports.Fabric_Store.RPT_FABRIC_DO_WISE_BALANCE

@model int

@{
    ViewData["Title"] = "Fabric DO Wise Balance Report";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Reports</li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-action="FabricDOWiseBalance" asp-controller="Reports">@ViewData["Title"]</a></li>
    </ol>
</nav>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new RPT_FABRIC_DO_WISE_BALANCE())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}
