@using DevExpress.AspNetCore
@using DenimERP.Reports.Fabric_Store
@using rptFabricReceiveStatementExport = DenimERP.Reports.Fabric_Store.rptFabricReceiveStatementExport
@model int

@{
    ViewData["Title"] = "Fabric Received Statement Export Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptFabricReceiveStatementExport())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}