@using DevExpress.AspNetCore
@using DenimERP.Reports.Fabric_Store
@using rptDateWiseFabricInternalIssue = DenimERP.Reports.Fabric_Store.rptDateWiseFabricInternalIssue
@model int

@{
    ViewData["Title"] = "Fabric Internal Issue Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptDateWiseFabricInternalIssue())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}