@using DevExpress.AspNetCore
@using DenimERP.Reports.Fabric_Store
@using RPT_FABRIC_PACKINGLIST_SUMMERY = DenimERP.Reports.Fabric_Store.RPT_FABRIC_PACKINGLIST_SUMMERY

@model int

@{
    ViewData["Title"] = "Fabric Packing List Summery Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new RPT_FABRIC_PACKINGLIST_SUMMERY())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}