@using DevExpress.AspNetCore
@using DenimERP.Reports.QA
@using rptFabricTestReport_Sample = DenimERP.Reports.QA.rptFabricTestReport_Sample
@model int

@{
    ViewData["Title"] = "Fabric Test Report (Sample)";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptFabricTestReport_Sample(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}