@using DevExpress.AspNetCore
@using DenimERP.Reports.Fabric_Store
@using RPT_Fabric_Roll_RCV_Pending = DenimERP.Reports.Fabric_Store.RPT_Fabric_Roll_RCV_Pending

@model int

@{
    ViewData["Title"] = "Fabric Roll Receive Pending Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new RPT_Fabric_Roll_RCV_Pending())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}