@using DevExpress.AspNetCore
@using DenimERP.Reports.General_store
@using rpt_gs_indent_balance = DenimERP.Reports.General_store.rpt_gs_indent_balance
@model int

@{
    ViewData["Title"] = "Indent Balance Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rpt_gs_indent_balance())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}