@using DevExpress.AspNetCore
@using DenimERP.Reports.Clearance
@using DenimERP.Reports.Yarn_Store
@using rptIndentHistoryReport = DenimERP.Reports.Yarn_Store.rptIndentHistoryReport
@model int

@{
    ViewData["Title"] = "Indent History Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptIndentHistoryReport())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}