@using DevExpress.AspNetCore
@using DenimERP.Reports.FOR_ALL
@using rptIndividualSetRecovery = DenimERP.Reports.FOR_ALL.rptIndividualSetRecovery

@model int

@{
    ViewData["Title"] = "Indivisual Set Recovery Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptIndividualSetRecovery())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}