@using DevExpress.AspNetCore
@using DenimERP.Views.FPrInspectionProcess.Reports
@using rpt_StyleWiseProductionReport = DenimERP.Views.FPrInspectionProcess.Reports.rpt_StyleWiseProductionReport
@model int

@{
    ViewData["Title"] = " Inspection Style Wise Production Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rpt_StyleWiseProductionReport())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}