@using DevExpress.AspNetCore
@using DenimERP.Views.ComExPiMaster.Reports
@using rpt_LC_Searching_IN_PI = DenimERP.Views.ComExPiMaster.Reports.rpt_LC_Searching_IN_PI
@model int

@{
    ViewData["Title"] = "Lc Searching in PI Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rpt_LC_Searching_IN_PI())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}