@using DevExpress.AspNetCore
@using DenimERP.Reports.Weaving
@using rpt_WeavingLoomSettings = DenimERP.Reports.Weaving.rpt_WeavingLoomSettings
@model string

@{
    ViewData["Title"] = "Weaving Loom Settings Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rpt_WeavingLoomSettings())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}