@using DevExpress.AspNetCore
@using DenimERP.Reports.Inspection
@using rpt_INS_Operator_wise_prod = DenimERP.Reports.Inspection.rpt_INS_Operator_wise_prod


@{
    ViewData["Title"] = "Operator Wise Production Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rpt_INS_Operator_wise_prod())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}