@using DevExpress.AspNetCore
@using DenimERP.Reports.FOR_ALL
@using rptOrderRecovery = DenimERP.Reports.FOR_ALL.rptOrderRecovery
@model int

@{
    ViewData["Title"] = "Order Wise Production History";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptOrderRecovery())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}
