@using DevExpress.AspNetCore
@using DenimERP.Views.ComExInvoiceMaster.Reports
@using rptBankAccRCVStatus = DenimERP.Views.ComExInvoiceMaster.Reports.rptBankAccRCVStatus
@model int

@{
    ViewData["Title"] = "Bank Acceptance Receive Status Report";
    Layout = Layout;
}
<h2>Bank Acceptance Receive Status Report</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptBankAccRCVStatus())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}