@using DevExpress.AspNetCore
@using DenimERP.Views.ComExInvoiceMaster.Reports
@using rptBankAccPending = DenimERP.Views.ComExInvoiceMaster.Reports.rptBankAccPending
@model int

@{
    ViewData["Title"] = "Bank Acceptance Pending";
    Layout = Layout;
}
<h2>Bank Acceptance Pending</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptBankAccPending())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}