@using DevExpress.AspNetCore
@using DenimERP.Reports.Chemical_Store
@using rptDateWiseChemicalStock = DenimERP.Reports.Chemical_Store.rptDateWiseChemicalStock

@{
    ViewData["Title"] = "Date Wise Chemical Stock";
    Layout = Layout;
}
<h2>Date Wise Chemical Stock</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptDateWiseChemicalStock())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}