@using DevExpress.AspNetCore
@using DenimERP.Reports.APCD
@using DenimERP.Reports.Clearance
@using DenimERP.Views.FPrFinishingProcess.Reports
@using DenimERP.Views.FPrInspectionProcess.Reports
@using DenimERP.Views.RndFabricInfo.Reports
@using rptMasterRollSelecttionSheet = DenimERP.Reports.Clearance.rptMasterRollSelecttionSheet

@{
    ViewData["Title"] = "Second Beam Report";
    Layout = Layout;
}
<h2>Master Roll Report</h2>

@{
    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptMasterRollSelecttionSheet())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}