
@using DevExpress.AspNetCore
@using DenimERP.Reports.Customs
@using rptCustomsInvoiceDetails = DenimERP.Reports.Customs.rptCustomsInvoiceDetails

@{
    ViewData["Title"] = "Customs Invoice";
}

<h2>Reports @ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptCustomsInvoiceDetails())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}