@using DevExpress.AspNetCore
@using DenimERP.Reports.Warping
@using rptDailyProduction_DirectWarping = DenimERP.Reports.Warping.rptDailyProduction_DirectWarping

@{
    ViewData["Title"] = "Direct Warping Daily Production";
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptDailyProduction_DirectWarping())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}