@using DevExpress.AspNetCore
@using DenimERP.Views.ComExPiMaster.Reports
@using rptDateWisePOInformation = DenimERP.Views.ComExPiMaster.Reports.rptDateWisePOInformation
@model int

@{
    ViewData["Title"] = "Date Wise PO Information";
    Layout = Layout;
}
<h2>Date Wise PO Information</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptDateWisePOInformation())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}