@using DevExpress.AspNetCore
@using DenimERP.Views.ComExInvoiceMaster.Reports
@using rptDateWiseDocSUBnRCV = DenimERP.Views.ComExInvoiceMaster.Reports.rptDateWiseDocSUBnRCV
@model int

@{
    ViewData["Title"] = "Date Wise Do Submission & Receive";
    Layout = Layout;
}
<h2>Date Wise Do Submission & Receive</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptDateWiseDocSUBnRCV())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}