@using DevExpress.AspNetCore
@using DenimERP.Views.ComExPiMaster.Reports
@using rptDateWisePIInformation = DenimERP.Views.ComExPiMaster.Reports.rptDateWisePIInformation
@model int

@{
    ViewData["Title"] = "Date Wise PI Information";
    Layout = Layout;
}
<h2>Date Wise PI Information</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptDateWisePIInformation())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}