@using DevExpress.AspNetCore
@using DenimERP.Reports.FOR_ALL
@using rptRequiredRawMaterials = DenimERP.Reports.FOR_ALL.rptRequiredRawMaterials


@model int

@{
    ViewData["Title"] = "Invoice Wise PRC Checking Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptRequiredRawMaterials())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}