@using DevExpress.AspNetCore
@using DenimERP.Views.RndProductionOrder.Reports
@using rptFabricDetailsSheet_mkt = DenimERP.Views.RndProductionOrder.Reports.rptFabricDetailsSheet_mkt
@model int

@{
    ViewData["Title"] = "Fabric Details(Marketing)";
    Layout = Layout;
}
<h2>Fabric Details(Marketing)</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptFabricDetailsSheet_mkt())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}