@using DevExpress.AspNetCore
@using DenimERP.Views.CosPreCostingMaster.Reports
@using rptFabricDetailsSheet = DenimERP.Views.CosPreCostingMaster.Reports.rptFabricDetailsSheet
@model int

@{
    ViewData["Title"] = "Fabric Details";
    Layout = Layout;
}
<h2>Fabric Details</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptFabricDetailsSheet())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}