@using DevExpress.AspNetCore
@using DenimERP.Views.RndFabricInfo.Reports
@using rpt_FDR_Marketing = DenimERP.Views.RndFabricInfo.Reports.rpt_FDR_Marketing

@{
    ViewData["Title"] = "Fabrications Details(MKT)";
    Layout = Layout;
}
<h2>Fabrications Details(MKT)</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rpt_FDR_Marketing())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}