@using DevExpress.AspNetCore
@using DenimERP.Reports.APCD
@using DenimERP.Views.FPrFinishingProcess.Reports
@using DenimERP.Views.FPrInspectionProcess.Reports
@using DenimERP.Views.RndFabricInfo.Reports
@using rptFnChemicalConsumtion = DenimERP.Views.FPrFinishingProcess.Reports.rptFnChemicalConsumtion

@{
    ViewData["Title"] = "Finishing Chemical Consumption Report";
    Layout = Layout;
}
<h2>Finishing Chemical Consumption Report</h2>

@{
    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptFnChemicalConsumtion())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}