@using DevExpress.AspNetCore
@using DenimERP.Reports.APCD
@using DenimERP.Views.FPrFinishingProcess.Reports
@using rptFinishingProduction = DenimERP.Views.FPrFinishingProcess.Reports.rptFinishingProduction
@model int

@{
    ViewData["Title"] = "Finishing Production Report";
    Layout = Layout;
}
<h2>Finishing Production Report</h2>

@{
    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptFinishingProduction())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}