@using DevExpress.AspNetCore
@using DenimERP.Reports.Clearance
@using DenimERP.Reports.RND
@using rptRndFabricInfo = DenimERP.Reports.RND.rptRndFabricInfo
@model int

@{
    ViewData["Title"] = "RND Fabric Information";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptRndFabricInfo())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}