@using DevExpress.AspNetCore
@using DenimERP.Reports.APCD
@using DenimERP.Views.FPrInspectionProcess.Reports
@using DenimERP.Views.RndFabricInfo.Reports
@using rptOrderWiseProduction_Insp = DenimERP.Views.FPrInspectionProcess.Reports.rptOrderWiseProduction_Insp

@{
    ViewData["Title"] = "Order Wise Production Report";
    Layout = Layout;
}
<h2>Order Wise Production Report</h2>

@{
    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptOrderWiseProduction_Insp())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}