@using DevExpress.AspNetCore
@using DenimERP.Reports.Weaving
@using rptOrderWiseReq_n_Issue = DenimERP.Reports.Weaving.rptOrderWiseReq_n_Issue

@{
    ViewData["Title"] = "Order Wise Requirement & Issue";
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptOrderWiseReq_n_Issue())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}