
@using DevExpress.AspNetCore
@using DenimERP.Views.ComExLcInfo.Reports
@using rptDateWisePRCRegister = DenimERP.Views.ComExLcInfo.Reports.rptDateWisePRCRegister


@{
    ViewData["Title"] = "PRC Register";
}
<h2>Date Wise PRC Register</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptDateWisePRCRegister())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}