@using DevExpress.AspNetCore
@using DenimERP.Views.RndProductionOrder.Reports
@using rptProductionOrder = DenimERP.Views.RndProductionOrder.Reports.rptProductionOrder
@model string

@{
    ViewData["Title"] = "Production Order Sheet";
    Layout = Layout;
}
<h2>Production Order Sheet</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptProductionOrder(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}