@using DevExpress.AspNetCore
@using DenimERP.Reports.GSP
@using rptBTMA_GSP_Certificate_Register = DenimERP.Reports.GSP.rptBTMA_GSP_Certificate_Register

@model int

@{
    ViewData["Title"] = "BTM_GSP Certificate Register Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptBTMA_GSP_Certificate_Register())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}