@using DevExpress.AspNetCore
@using DenimERP.Reports.Post_Costing
@using rptMonthlyWarpingProduction = DenimERP.Reports.Post_Costing.rptMonthlyWarpingProduction

@model int

@{
    ViewData["Title"] = "Monthly Warping Production Report)";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptMonthlyWarpingProduction())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}