@using DevExpress.AspNetCore
@using DenimERP.Views.FPrSizingProductionRope.Reports
@using rptSizing_Delivery = DenimERP.Views.FPrSizingProductionRope.Reports.rptSizing_Delivery
@model string

@{
    ViewData["Title"] = "Sizing Delivery Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptSizing_Delivery(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}