@using DevExpress.AspNetCore
@using DenimERP.Reports.QA
@using rpt_QA_LabTestPolyester = DenimERP.Reports.QA.rpt_QA_LabTestPolyester

@{
    ViewData["Title"] = "Yarn Test Polyester";
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rpt_QA_LabTestPolyester())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}