@using DevExpress.AspNetCore
@using DenimERP.Views.FPrInspectionProcess.Reports
@using rptRollDespatchSheet = DenimERP.Views.FPrInspectionProcess.Reports.rptRollDespatchSheet
@{
    ViewData["Title"] = "Roll Dispatch Report";
    Layout = Layout;
}
<h2>Roll Dispatch Report</h2>

@{
    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptRollDespatchSheet())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}