@using DevExpress.AspNetCore
@using DenimERP.Reports.APCD
@using DenimERP.Views.RndFabricInfo.Reports
@using rptProgramStatus = DenimERP.Reports.APCD.rptProgramStatus

@{
    ViewData["Title"] = "Set Status";
    Layout = Layout;
}
<h2>Set Status</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptProgramStatus())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}