@using DevExpress.AspNetCore
@using DenimERP.Views.ComExInvoiceMaster.Reports
@using rptDocWaitingforSub = DenimERP.Views.ComExInvoiceMaster.Reports.rptDocWaitingforSub



@{
    ViewData["Title"] = "Waiting For Party Submission";
    Layout = Layout;
}
<h2>Waiting For Party Submission</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptDocWaitingforSub())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}