@using DevExpress.AspNetCore
@using DenimERP.Reports.COM_IMP
@using RPT_COM_IMP_WORK_ORDER = DenimERP.Reports.COM_IMP.RPT_COM_IMP_WORK_ORDER
@model string

@{
    ViewData["Title"] = "Work Order";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new RPT_COM_IMP_WORK_ORDER(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}