@using DevExpress.AspNetCore
@using DenimERP.Views.FYarnRequirement.Report
@using rpt_YS_DateWise_YarnRCV = DenimERP.Views.FYarnRequirement.Report.rpt_YS_DateWise_YarnRCV
@model int

@{
    ViewData["Title"] = "Date Wise Yarn Receive Reports";
    Layout = Layout;
}
<h2>Date Wise Yarn Receive Reports</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rpt_YS_DateWise_YarnRCV())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}