@using DevExpress.AspNetCore
@using DenimERP.Views.FYarnRequirement.Report
@using rpt_YS_YarnRequirement = DenimERP.Views.FYarnRequirement.Report.rpt_YS_YarnRequirement

@model string

@{
    ViewData["Title"] = "Yarn Purchase Requirement";
    Layout = Layout;
}
<h2>Yarn Purchase Requirement</h2>

@{
    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rpt_YS_YarnRequirement(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}