@using DevExpress.AspNetCore
@using DenimERP.Views.FYsIndentMaster.Report
@using rpt_YS_Indent_Details = DenimERP.Views.FYsIndentMaster.Report.rpt_YS_Indent_Details
@model string

@{
    ViewData["Title"] = "Yarn Purchase Requisition";
    Layout = Layout;
}
<h2>Yarn Purchase Requisition</h2>

@{
    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rpt_YS_Indent_Details(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}