@using DevExpress.AspNetCore
@using DenimERP.Reports.Yarn_Store
@using rpt_YS_DayWiseStock = DenimERP.Reports.Yarn_Store.rpt_YS_DayWiseStock


@{
    ViewData["Title"] = "Yarn Stock Report";
    Layout = Layout;
}
<h2>Yarn Stock Report</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rpt_YS_DayWiseStock())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}