@using DevExpress.AspNetCore
@using DenimERP.Reports.Chemical_Store
@using rptSectionWiseChemIssue_Sum = DenimERP.Reports.Chemical_Store.rptSectionWiseChemIssue_Sum
@model int

@{
    ViewData["Title"] = "Section Wise Issue Summery Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptSectionWiseChemIssue_Sum())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}