
@using DevExpress.AspNetCore
@using DenimERP.Reports.FOR_ALL
@using rptSetRecovery = DenimERP.Reports.FOR_ALL.rptSetRecovery

@model int

@{
    ViewData["Title"] = "Summary of Planning Recovery (Set/Order Wise)";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Reports</li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-action="SetRecoveryReportForAll" asp-controller="Reports">@ViewData["Title"]</a></li>
    </ol>
</nav>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptSetRecovery())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}