@using DevExpress.AspNetCore
@using DenimERP.Reports.Clearance
@using rpt_CLEARANCE_sHEED_GROUP_PENDING = DenimERP.Reports.Clearance.rpt_CLEARANCE_sHEED_GROUP_PENDING
@model int

@{
    ViewData["Title"] = "Shade Group Pending Entry Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rpt_CLEARANCE_sHEED_GROUP_PENDING())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}