@using DevExpress.AspNetCore
@using DenimERP.Reports.Inspection
@using rpt_Ins_StyleWiseProd_shift_scan = DenimERP.Reports.Inspection.rpt_Ins_StyleWiseProd_shift_scan

@model int

@{
    ViewData["Title"] = "Shift & Style Wise Production Report (Scan)";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rpt_Ins_StyleWiseProd_shift_scan())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}