@using DevExpress.AspNetCore
@using DenimERP.Reports.Sizing
@using rptSetWiseSizingChemicalConsumption = DenimERP.Reports.Sizing.rptSetWiseSizingChemicalConsumption
@model int

@{
    ViewData["Title"] = "Set Wise Sizing Chemical Consumption Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptSetWiseSizingChemicalConsumption())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}