@using DevExpress.AspNetCore
@using DenimERP.Reports.Planning
@using rptTeamWiseDelivery = DenimERP.Reports.Planning.rptTeamWiseDelivery

@model int

@{
    ViewData["Title"] = "Team Wise Delivery Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptTeamWiseDelivery())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}