@using DevExpress.AspNetCore
@using DenimERP.Reports.Yarn_Store
@using RPT_YARN_REQ_WISE_ISSUE = DenimERP.Reports.Yarn_Store.RPT_YARN_REQ_WISE_ISSUE
@model int

@{
    ViewData["Title"] = "Yarn Requisition Wise Issue Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new RPT_YARN_REQ_WISE_ISSUE())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}