@using DevExpress.AspNetCore
@using DenimERP.Reports.Planning
@using rptYearlyProductionSummery = DenimERP.Reports.Planning.rptYearlyProductionSummery

@{
    ViewData["Title"] = "Yearly Production Summery";
}

<h2> @ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptYearlyProductionSummery())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}