@model ComExAdvDeliverySchViewModel

@{
    ViewData["Title"] = "Advance Delivery Schedule";
}

<h2><i class="fa fa-edit text-success" aria-hidden="true"></i> Update @ViewData["Title"]</h2>

<div class="container-fluid">
    <form id="form" enctype="multipart/form-data" role="form" asp-action="PostEditComExAdvDeliverySch">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="panel-body row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success"><i class="fa fa-cart-plus" aria-hidden="true"></i> Basic Information </h2>
                    <hr />
                </div>
                <hr />
            </div>
            @Html.HiddenFor(e => e.ComExAdvDeliverySchMaster.EncryptedId)
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ComExAdvDeliverySchMaster.DSDATE" class="control-label"></label>
                    <input asp-for="ComExAdvDeliverySchMaster.DSDATE" class="form-control" />
                    <span asp-validation-for="ComExAdvDeliverySchMaster.DSDATE" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ComExAdvDeliverySchMaster.DSTYPE" class="control-label"></label>
                    <select asp-for="ComExAdvDeliverySchMaster.DSTYPE" class="form-control js-example-basic-single">
                        <option value="Export">Export</option>
                        <option value="Local">Local</option>
                    </select>
                    <span asp-validation-for="ComExAdvDeliverySchMaster.DSTYPE" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ComExAdvDeliverySchMaster.BUYER_ID" class="control-label"></label>
                    @Html.DropDownListFor(dt => dt.ComExAdvDeliverySchMaster.BUYER_ID, new SelectList(Model.BasBuyerList, "BUYERID", "BUYER_NAME"),
                        "Select Buyer", new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="ComExAdvDeliverySchMaster.BUYER_ID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                <div class="form-group">
                    <label class="control-label">Address</label>
                    <span class="custom-form-control-bg form-control bg-e9ecef" id="bAddress">
                    </span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ComExAdvDeliverySchMaster.REMARKS" class="control-label"></label>
                    <input asp-for="ComExAdvDeliverySchMaster.REMARKS" class="form-control" />
                    <span asp-validation-for="ComExAdvDeliverySchMaster.REMARKS" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="panel-title text-success"><i class="fa fa-eye" aria-hidden="true"></i>Details Information</h2>
                <hr />
            </div>

            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ComExAdvDeliverySchDetails.PIID" class="control-label"></label>
                    @Html.DropDownListFor(dt => dt.ComExAdvDeliverySchDetails.PIID, new SelectList(Model.ComExPimasterList, "PIID", "PINO"),
                        "Select PI", new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="ComExAdvDeliverySchDetails.PIID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ComExAdvDeliverySchDetails.STYLE_ID" class="control-label"></label>
                    <select asp-for="ComExAdvDeliverySchDetails.STYLE_ID" class="form-control js-example-basic-single">
                        <option value="">Select Style</option>
                    </select>
                    <span asp-validation-for="ComExAdvDeliverySchDetails.STYLE_ID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                <div class="form-group">
                    <label class="control-label">Unit</label>
                    <span class="custom-form-control-bg form-control bg-e9ecef" id="unit">
                    </span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ComExAdvDeliverySchDetails.PREV_QTY" class="control-label"></label>
                    <input asp-for="ComExAdvDeliverySchDetails.PREV_QTY" class="form-control" />
                    <span asp-validation-for="ComExAdvDeliverySchDetails.PREV_QTY" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ComExAdvDeliverySchDetails.QTY" class="control-label"></label>
                    <input asp-for="ComExAdvDeliverySchDetails.QTY" class="form-control" />
                    <span asp-validation-for="ComExAdvDeliverySchDetails.QTY" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ComExAdvDeliverySchDetails.REMARKS" class="control-label"></label>
                    <input asp-for="ComExAdvDeliverySchDetails.REMARKS" class="form-control" />
                    <span asp-validation-for="ComExAdvDeliverySchDetails.REMARKS" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button id="btn_submit" class="btn btn-warning nextBtn pull-right" type="submit">Update</button>
                <button id="addToList" class="btn btn-success pull-right" type="button">Add to List</button>
                <a asp-action="GetComExAdvDeliverySch" class="btn btn-dark pull-right">Back to List</a>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive table-hover" id="comExAdvDelTable">
                @await Html.PartialAsync($"~/Views/ComExAdvDeliverySch/ComExAdvDeliverySchPartialView.cshtml", Model)
            </div>

        </div>
    </form>
</div>

@section Scripts {
    <script asp-append-version="true" src="~/js/ComExAdvDeliverySch/CreateComExAdvDeliverySch.js"></script>
}