
<div class="container-fluid row m-5 pl-5">
    <form>

        <div class="input-group mb-0">
            <input class="form-control  newsletter col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="" type="text" readonly>
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Dye Staff" type="text" readonly>
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Shade(%)" type="text" readonly>
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="GPL" type="text" readonly>
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="PH" type="text" readonly>
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Box/Bath" type="text" readonly>
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Hydro" type="text" readonly>
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Caustic(Be)" type="text" readonly>


        </div>

        <div class="input-group mb-0">
            <input class="form-control  newsletter col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="" type="text" readonly>
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="Indigo" type="text" readonly>
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">



        </div>
        <div class="input-group mb-0">
            <input class="form-control  newsletter col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center " placeholder="Dyeing Slasher/Rope" type="text" readonly>
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="Sulphur" type="text" readonly>
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">




        </div>
        <div class="input-group mb-0">
            <input class="form-control  newsletter col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center " placeholder="" type="text" readonly>
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="Shade" type="text" readonly>
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">



        </div>
        <div class="input-group mb-0">
            <input class="form-control  newsletter col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center " placeholder="" type="text" readonly>
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="Others" type="text" readonly>
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="Color Code" type="text" readonly>
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">


        </div>
        <div class="input-group mb-0">
            <input class="form-control  newsletter col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center " placeholder="" type="text" readonly>
            <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="Remarks" type="text" readonly>
            <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
            <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">

        </div>

        <br />

    </form>
</div>

@section Scripts {
    <script>
        $(function () {

            $('#form').submit(function () {
                $(this).find(':submit').attr('disabled', 'disabled');
            });
        })
    </script>
}

@*<form>
    <div class="input-group">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="EPI X PPI" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Weight" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Width" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Shrinkage%" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Stretch%" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Growth%" type="text" readonly>

    </div>

    <div class="input-group">
        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="B/W" type="text" readonly>
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="A/W" type="text" readonly>
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="B/W" type="text" readonly>
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="A/W" type="text" readonly>
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="B/W" type="text" readonly>
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="A/W" type="text" readonly>
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Warp" type="text" readonly>
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Weft" type="text" readonly>
        <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12 text-center" placeholder="Warp" type="text" readonly>
        <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12 text-center" placeholder="Weft" type="text" readonly>
        <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12 text-center" placeholder="Warp" type="text" readonly>
        <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12 text-center" placeholder="Weft" type="text" readonly>
    </div>
    <div class="input-group">
        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="75" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="78" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">
        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center " placeholder="48" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="53" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>

    <br/>

    <div class="input-group">
        <input class="form-control newsletter col-lg-2 col-md-3 col-sm-6 col-xs-12 text-center " placeholder="Parameter" type="text" readonly>
        <input class="form-control newsletter col-lg-2 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Finish" type="text" readonly>
        <input class="form-control newsletter col-lg-2 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Protocol" type="text" readonly>
        <input class="form-control newsletter col-lg-2 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Declaration" type="text" readonly>
        <input class="form-control newsletter col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center" placeholder="Finish Route" type="text" readonly>
    </div>
    <div class="input-group">
        <input class="form-control  newsletter col-lg-2 col-md-3 col-sm-6 col-xs-12  text-center " placeholder="Leb Number/Test Method" type="text" readonly>
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="EPI X PPI" type="text" readonly>
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="B/W" type="text" readonly>
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="FinishType" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center" placeholder="Finish M/C" type="text" readonly>
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12 " placeholder="" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="A/W" type="text" readonly>
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">

    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Weight" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="B/W" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center text-black-50 " placeholder="Meeting Remarks" type="text" readonly>
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="A/W" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>

    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Width" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="B/W" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Cutable" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>

    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="A/W" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Shrinkage%" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Warp" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center" placeholder="Remarks" type="text" readonly>
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Weft" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Stretch%" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Warp" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Weft" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Growth%" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Warp" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Weft" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Spirality" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="A" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12 " placeholder="" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="B" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-2 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Skew Movement" type="text" readonly>

        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Tensile" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Warp" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Weft" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Tear" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Warp" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Weft" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Seam Slippage" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Warp" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Weft" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="C/F to Rubbing" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Dry" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text" readonly>

        <input class="form-control  newsletter  col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Weft" type="text" readonly>
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-2 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="PH" type="text" readonly>

        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-4 col-md-4 col-sm-6 col-xs-12" placeholder="" type="text">
    </div>
    <div class="input-group">

        <input class="form-control  newsletter col-lg-1 col-md-3 col-sm-6 col-xs-12 text-center" placeholder="Composition" type="text" readonly>

        <input class="form-control  newsletter  col-lg-3 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-2 col-md-3 col-sm-6 col-xs-12" placeholder="" type="text">
        <input class="form-control  newsletter  col-lg-6 col-md-6 col-sm-6 col-xs-12" placeholder="" type="text">

    </div>
    </form>*@

