@model BAS_PRODCATEGORY

@{
    ViewData["Title"] = "Update basic product category";
    Layout = Layout;
}

<h2>Update Product Category</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBasProductCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(pc => pc.CATID)
            @Html.HiddenFor(pc => pc.EncryptedId)
            <div class="form-group">
                <label asp-for="CATEGORY" class="control-label"></label>
                <input asp-for="CATEGORY" class="form-control" />
                <span asp-validation-for="CATEGORY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REMARKS" class="control-label"></label>
                <input asp-for="REMARKS" class="form-control" />
                <span asp-validation-for="REMARKS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-dark" asp-action="GetBasProductCategories" accesskey="b">Back to List</a>
                <input type="submit" value="Update" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {

            $('#form').submit(function () {
                $(this).find(':submit').attr('disabled', 'disabled');
            });
        })
    </script>
}