@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/FLEXERP/bower_components/bootstrap/css/bootstrap.min.css">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="~/FLEXERP/assets/icon/feather/css/feather.css">
    <!-- Font Awesome -->
    <link asp-append-version="true" href="~/FLEX/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/FLEXERP/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/FLEXERP/assets/css/jquery.mCustomScrollbar.css">

    <link asp-append-version="true" href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/css/CustomCSS/switch.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/css/CustomCSS/style.css" rel="stylesheet" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>

    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">


            @await Html.PartialAsync($"~/Views/LayoutParts/TopNavigation.cshtml", SignInManager)


            <!-- Sidebar chat start -->
            <div id="sidebar" class="users p-chat-user showChat">
                <div class="had-container">
                    <div class="card card_main p-fixed users-main">
                        <div class="user-box">
                            <div class="chat-inner-header">
                                <div class="back_chatBox">
                                    <div class="right-icon-control">
                                        <input type="text" class="form-control  search-text" placeholder="Search Friend" id="search-friends">
                                        <div class="form-icon">
                                            <i class="icofont icofont-search"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-friend-list">
                                <div class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius img-radius" src="\FLEXERP\assets\images\avatar-3.jpg" alt="Generic placeholder image ">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Josephin Doe</div>
                                    </div>
                                </div>
                                <div class="media userlist-box" data-id="2" data-status="online" data-username="Lary Doe" data-toggle="tooltip" data-placement="left" title="Lary Doe">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius" src="\FLEXERP\assets\images\avatar-2.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Lary Doe</div>
                                    </div>
                                </div>
                                <div class="media userlist-box" data-id="3" data-status="online" data-username="Alice" data-toggle="tooltip" data-placement="left" title="Alice">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius" src="\FLEXERP\assets\images\avatar-4.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Alice</div>
                                    </div>
                                </div>
                                <div class="media userlist-box" data-id="4" data-status="online" data-username="Alia" data-toggle="tooltip" data-placement="left" title="Alia">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius" src="\FLEXERP\assets\images\avatar-3.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Alia</div>
                                    </div>
                                </div>
                                <div class="media userlist-box" data-id="5" data-status="online" data-username="Suzen" data-toggle="tooltip" data-placement="left" title="Suzen">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius" src="\FLEXERP\assets\images\avatar-2.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Suzen</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar inner chat start-->
            <div class="showChat_inner">
                <div class="media chat-inner-header">
                    <a class="back_chatBox">
                        <i class="feather icon-chevron-left"></i> Josephin Doe
                    </a>
                </div>
                <div class="media chat-messages">
                    <a class="media-left photo-table" href="#!">
                        <img class="media-object img-radius img-radius m-t-5" src="\FLEXERP\assets\images\avatar-3.jpg" alt="Generic placeholder image">
                    </a>
                    <div class="media-body chat-menu-content">
                        <div class="">
                            <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
                            <p class="chat-time">8:20 a.m.</p>
                        </div>
                    </div>
                </div>
                <div class="media chat-messages">
                    <div class="media-body chat-menu-reply">
                        <div class="">
                            <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
                            <p class="chat-time">8:20 a.m.</p>
                        </div>
                    </div>
                    <div class="media-right photo-table">
                        <a href="#!">
                            <img class="media-object img-radius img-radius m-t-5" src="\FLEXERP\assets\images\avatar-4.jpg" alt="Generic placeholder image">
                        </a>
                    </div>
                </div>
                <div class="chat-reply-box p-b-20">
                    <div class="right-icon-control">
                        <input type="text" class="form-control search-text" placeholder="Share Your Thoughts">
                        <div class="form-icon">
                            <i class="feather icon-navigation"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar inner chat end-->
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">


                    @await Html.PartialAsync($"~/Views/LayoutParts/MenuMaster/MenuMasterSidebar.cshtml", SignInManager)

                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="page-body">
                                        <partial name="_CookieConsentPartial" />
                                        @RenderBody()
                                    </div>
                                </div>

                                <div id="styleSelector">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Warning Section Ends -->
    <!-- Required Jquery -->
    @*<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>*@
    <script type="text/javascript" src="~/FLEXERP/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/FLEXERP/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/FLEXERP/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="~/FLEXERP/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/FLEXERP/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/FLEXERP/bower_components/modernizr/js/modernizr.js"></script>
    <!-- Chart js -->
    <script type="text/javascript" src="~/FLEXERP/bower_components/chart.js/js/Chart.js"></script>
    <!-- amchart js -->
    <script src="~/FLEXERP/assets/pages/widget/amchart/amcharts.js"></script>
    <script src="~/FLEXERP/assets/pages/widget/amchart/serial.js"></script>
    <script src="~/FLEXERP/assets/pages/widget/amchart/light.js"></script>
    <script src="~/FLEXERP/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    @*<script type="text/javascript" src="~/FLEXERP/assets/js/SmoothScroll.js"></script>*@
    <script src="~/FLEXERP/assets/js/pcoded.min.js"></script>

    <!-- custom js -->
    <script src="~/FLEXERP/assets/js/vartical-layout.min.js"></script>
    <script type="text/javascript" src="~/FLEXERP/assets/pages/dashboard/custom-dashboard.js"></script>
    <script type="text/javascript" src="~/FLEXERP/assets/js/script.min.js"></script>

    <!-- SweetAlert js -->

    <script asp-append-version="true" src="~/lib/toastr.js/toastr.min.js"></script>
    <script asp-append-version="true" src="~/js/custom-js/toastr-notifications.js"></script>
    <script asp-append-version="true" src="~/lib/bootstrap-sweetalert/sweetalert.js"></script>
    <script asp-append-version="true" src="~/js/custom-js/delete-sweetalert.js"></script>
    <script asp-append-version="true" src="~/lib/select2/js/select2.min.js"></script>
    <script asp-append-version="true" src="~/bxslider/jquery.bxslider.min.js"></script>
    <script asp-append-version="true" src="~/FLEX/vendors/moment/min/moment.min.js"></script>
    <script asp-append-version="true" src="~/js/custom-js/custom1.js"></script>
    <script asp-append-version="true" src="~/FLEX/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- modernizr js -->
    <script type="text/javascript" src="~/FLEXERP\bower_components\modernizr\js\css-scrollbars.js"></script>
    <!-- Custom js -->
    <script asp-append-version="true" type="text/javascript" src="~/FLEXERP\assets\js\script.js"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    @await RenderSectionAsync("Scripts", required: false)

    <script asp-append-version="true">
        $(function () {
            const form = $("form");
            const scrollBtn = $("a[href='#top']");

            toastrNotification('@TempData["message"]', '@TempData["type"]');

            // SEARCH IN THE MENUS
            $('input[name="menuSearch"]').keyup(function () {
                const matches = $('ul#myMenu').find(`li:contains(${$(this).val()}) `);
                $('li', 'ul#myMenu').not(matches).slideUp();
                matches.slideDown();
            });

            $('input[type="search"]').on("click", function () {
                $('li', 'ul#myMenu').slideDown();
            });

            $(".bxslider").bxSlider({
                auto: true,
                autoControls: false,
                controls: false,
                pause: 5000,
                infiniteLoop: true,
                responsive: true,
                mode: 'horizontal',
                minSlides: 1,
                autoDelay: 0,
                randomStart: true,
                pager: false,
                moveSlideQty: 1,
                touchEnabled: false
            });

            $('.js-example-basic-single').select2({
                //sorter: function(data) {
                //    /* Sort data using lowercase comparison */

                //    return data.sort(function(a, b) {
                //        a = a.text.toLowerCase();
                //        b = b.text.toLowerCase();

                //        if (a[0] === 's' && b[0] === 's') {
                //            return compare(a, b);
                //        } else if (a[0] === 's') {
                //            return -1;
                //        } else if (b[0] === 's') {
                //            return 1;
                //        } else {
                //            return compare(a, b);
                //        }
                //    });
                //}
            });

            //function compare(a, b) {
            //    if (a > b) {
            //        return 1;
            //    } else if (a < b) {
            //        return -1;
            //    }
            //    return 0;
            //}

            //function matchStart(params, data) {
            //    // If there are no search terms, return all of the data
            //    if ($.trim(params.term) === '') {
            //        return data;
            //    }

            //    // Skip if there is no 'children' property
            //    if (typeof data.children === 'undefined') {
            //        return null;
            //    }

            //    // `data.children` contains the actual options that we are matching against
            //    var filteredChildren = [];
            //    $.each(data.children, function (idx, child) {
            //        if (child.text.toUpperCase().indexOf(params.term.toUpperCase()) == 0) {
            //            filteredChildren.push(child);
            //        }
            //    });

            //    // If we matched any of the timezone group's children, then set the matched children on the group
            //    // and return the group object
            //    if (filteredChildren.length) {
            //        var modifiedData = $.extend({}, data, true);
            //        modifiedData.children = filteredChildren;

            //        // You can return modified objects from here
            //        // This includes matching the `children` how you want in nested data sets
            //        return modifiedData;
            //    }

            //    // Return `null` if the term should not be displayed
            //    return null;
            //}

            form.bind("keypress",
                function (event) {
                    if (event.keyCode === 13) {
                        return false;
                    }
                    return true;
                });

            scrollBtn.click(function () {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            });

            $(window).scroll(function () {
                $(this).scrollTop() > 50 ? scrollBtn.fadeIn() : scrollBtn.fadeOut();
            });

            $('#menu_toggle').click(function () {
                $(this).find("i").toggleClass("fa fa-bars").toggleClass("fa fa-close rotated");
            });

            var interval = setInterval(function () {
                const momentNow = moment();
                $('#time-part').html(`${momentNow.format('dddd, MMMM Do YYYY, h:mm:ss A')}`);
            }, 100);

            $('#stop-interval').on('click', function () {
                clearInterval(interval);
            });

        });


        // on first focus (bubbles up to document), open the menu
        $(document).on('focus', '.select2-selection.select2-selection--single', function (e) {
            $(this).closest(".select2-container").siblings('select:enabled').select2('open');
        });

        // steal focus during close - only capture once and stop propogation
        $('select.select2').on('select2:closing', function (e) {
            $(e.target).data("select2").$selection.one('focus focusin', function (e) {
                e.stopPropagation();
            });
        });

        var deleteSweetalert = function () { deleteSweetalert(); }
        // For Datatable Column Char limit

        if ($.fn.dataTable !== undefined) {
            $.fn.dataTable.render.ellipsis = function (cutoff) {
                return function (data, type, row) {
                    return data !== null && type === 'display' && data.length > cutoff ?
                        data.substr(0, cutoff) + '…' :
                        data;
                }
            };
        }
    </script>

</body>
</html>
