
@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

@if (ViewBag.ErrorTitle != null)
{
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404"></div>
            <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
            <h2>Oops! Page Not Be Found</h2>
            <p class="text-warning">@ViewBag.ErrorMessage</p>
            <a asp-controller="Home" asp-action="Dashboard" class="btn btn-dark"><span class="glyphicon glyphicon-home"></span> Take Me Home</a>
            <a href="mailto:arnob@flexinfosys.com" class="btn btn-warning"><span class="glyphicon glyphicon-envelope"></span> Contact Support</a>
        </div>
    </div>
}
else
{
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404"></div>
            <h1 class="text-danger">Error.</h1>
            <h2>Oops!! an error occurred while processing your request.</h2>
            <p class="text-warning">You have submitted with invalid operation.</p>
            <a asp-controller="Home" asp-action="Dashboard" class="btn btn-dark"><span class="glyphicon glyphicon-home"></span> Take Me Home</a>
            <a href="mailto:arnob@flexinfosys.com" class="btn btn-warning"><span class="glyphicon glyphicon-envelope"></span> Contact Support</a>
        </div>
    </div>
}

@section Styles{
    <link asp-append-version="true" href="~/css/shared/not_found.css" rel="stylesheet" />
}