
@model PlBulkProgSetupViewModel

@{
    ViewData["Title"] = "Program/Set No";
}

<h2><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i> @ViewData["Title"]</h2>

<div class="container-fluid">
    <form id="form" role="form" asp-action="CreatePlBulkProgSetup">
        <div class="panel panel-default">
            <div class="panel-body row">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlBulkProgSetupM.ORDERNO" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.PlBulkProgSetupM.ORDERNO, new SelectList(Model.ProductionOrderList.Where(c => c.Name != null).OrderByDescending(c => c.ID), "ID", "Name"), "Select Order No", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="PlBulkProgSetupM.ORDERNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Order Qty(Y)</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="ordrYds">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Order Qty(M)</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="ordrMtr">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlBulkProgSetupM.WARP_QTY" class="control-label"></label>
                        <input asp-for="PlBulkProgSetupM.WARP_QTY" class="form-control" readonly="readonly" />
                        <span asp-validation-for="PlBulkProgSetupM.WARP_QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Grey Qty(M)</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="greyQty">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">PI No.</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="piNo">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Style No</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="styleNo">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Buyer</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="buyer">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Delivery Start</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="delStart">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Delivery Close</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="delClose">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlBulkProgSetupM.REMARKS" class="control-label"></label>
                        <input asp-for="PlBulkProgSetupM.REMARKS" class="form-control" />
                        <span asp-validation-for="PlBulkProgSetupM.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlBulkProgSetupD.IS_AUTO_CREATE_PLAN" class="control-label"></label>
                        <div class="form-control custom-form-control">
                            <label class="switch">
                                <input asp-for="PlBulkProgSetupD.IS_AUTO_CREATE_PLAN" />
                                <span class="slider round"></span>
                                <span class="absolute-no">NO</span>
                            </label>
                        </div>
                        <span asp-validation-for="PlBulkProgSetupD.IS_AUTO_CREATE_PLAN" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-12 d-flex justify-content-end">
                    <div class="form-group mb-0 pr-2 border-dark border-right">
                        <strong><label class="control-label mb-0">Production</label></strong>
                        <span class="custom-form-control form-control bg-e9ecef">
                            <strong id="production"><span id="prod">00.00</span></strong>
                        </span>
                    </div>
                    <div class="form-group mb-0 pl-2 border-dark border-right">
                        <strong><label class="control-label mb-0">Pending</label></strong>
                        <span class="custom-form-control form-control bg-e9ecef">
                            <strong id="pending"><span id="pend">00.00</span></strong><strong> M</strong>
                        </span>
                    </div>
                    <div class="form-group mb-0 pl-2">
                        <strong><label class="control-label mb-0">Last Set No</label></strong>
                        <span class="custom-form-control form-control bg-e9ecef">
                            <strong id="lastSetNo"><span id="lastSetNoS"></span></strong>
                        </span>
                    </div>
                </div>
                <div class="col-12">
                    <h2 class="panel-title text-success"><i class="fa fa-wrench" aria-hidden="true"></i> Program/Set No.</h2>
                    <hr />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 d-none">
                    <div class="form-group">
                        <label asp-for="PlBulkProgSetupD.SET_DATE" class="control-label"></label>
                        <input asp-for="PlBulkProgSetupD.SET_DATE" class="form-control" />
                        <span asp-validation-for="PlBulkProgSetupD.SET_DATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlBulkProgSetupD.PROG_NO" class="control-label"></label>
                        <input asp-for="PlBulkProgSetupD.PROG_NO" class="form-control" />
                        <span asp-validation-for="PlBulkProgSetupD.PROG_NO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlBulkProgSetupD.SET_QTY" class="control-label"></label>
                        <input asp-for="PlBulkProgSetupD.SET_QTY" class="form-control" />
                        <span asp-validation-for="PlBulkProgSetupD.SET_QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlBulkProgSetupD.YARN_TYPE" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.PlBulkProgSetupD.YARN_TYPE, new SelectList(Model.Yarnfors, "YARNID", "YARNNAME"), "Select Program Type", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="PlBulkProgSetupD.YARN_TYPE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlBulkProgSetupD.PROCESS_TYPE" class="control-label"></label>
                        <input asp-for="PlBulkProgSetupD.PROCESS_TYPE" class="form-control" readonly="readonly" />
                        <span asp-validation-for="PlBulkProgSetupD.PROCESS_TYPE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlBulkProgSetupD.WARP_TYPE" class="control-label"></label>
                        <input asp-for="PlBulkProgSetupD.WARP_TYPE" class="form-control" readonly="readonly" />
                        <span asp-validation-for="PlBulkProgSetupD.WARP_TYPE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlBulkProgSetupD.PROGRAM_TYPE" class="control-label"></label>
                        <input asp-for="PlBulkProgSetupD.PROGRAM_TYPE" class="form-control" readonly="readonly" />
                        <span asp-validation-for="PlBulkProgSetupD.PROGRAM_TYPE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-success pull-right" type="submit" id="btn_submit">Create</button>
                    <button id="btnAdd" class="btn btn-success pull-right mr-2" type="button">Add</button>
                    <button class="btn btn-info prevBtn pull-right" type="button">Prev</button>
                    <a asp-action="GetPlSampleProgSetup" class="btn btn-dark pull-right mr-2">Back to List</a>
                </div>

                <div class="col-12 table-responsive" id="ProgramSetDetails"></div>
            </div>
        </div>

    </form>
</div>

@section Styles {
    <link asp-append-version="true" href="~/css/CustomCSS/Stepper.css" rel="stylesheet" />
}

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script src="~/js/custom-js/Stepper.js" asp-append-version="true"></script>
    <script type="text/javascript" asp-append-version="true">

        function GetLastSetNo() {
            $.ajax({
                async: true,
                cache: false,
                data: $('#form').serialize(),
                type: "POST",
                url: "/PlBulkProgSetup/GetLastSetNo",
                success: function(data) {
                    if (data === undefined) {
                        $("#lastSetNoS").text("");
                        toastrNotification("Error: Invalid Response", "error");
                    } else {
                        $("#lastSetNoS").text(data);
                    }
                },
                error: function() {
                    $("#lastSetNoS").text("");
                    toastrNotification("Error: Please Enter valid Set No.", "error");
                }
            });
        }

        $(function() {
            $("#PlBulkProgSetupM_ORDERNO").on("change",
                function() {
                    const selectedVal = $(this).val();
                    getSoDetails(selectedVal);
                });

            $("#PlBulkProgSetupD_SET_QTY").on("change",
                function() {
                    const selectedVal = $(this).val();
                    if (selectedVal <= 0) {
                        toastrNotification("Error: Set Qty can not be less then or equal 0.", "error");
                        $(this).val(0);
                        return false;
                    }
                    return false;
                });



            $("#PlBulkProgYarnD_COUNTID").on("change",
                function() {
                    const selectedVal = $(this).val();
                    if (selectedVal === "") {
                        $("#yarnFor").text("");
                        return false;
                    }
                    $.ajax({
                        async: true,
                        cache: false,
                        data: { "countId": selectedVal },
                        type: "GET",
                        url: "/PlBulkProgSetup/GetCountDetails",
                        success: function(data) {
                            if (data === undefined) {
                                $("#yarnFor").text("");
                                toastrNotification("Error: Please Select valid Count", "error");
                            } else {
                                $("#yarnFor").text(data.yarnFor.yarnname);
                            }
                        },
                        error: function() {
                            $("#yarnFor").text("");
                            toastrNotification("Error: Please Enter valid Set No.", "error");
                        }
                    });
                });

            $("#PlBulkProgYarnD_LOTID").on("change",
                function() {
                    const selectedVal = $(this).val();
                    if (selectedVal === "") {
                        $("#supplier").text("");
                        //$("#yarnFor").text("");
                        return false;
                    }
                    $.ajax({
                        async: true,
                        cache: false,
                        data: { "lotId": selectedVal },
                        type: "GET",
                        url: "/PlBulkProgSetup/GetLotDetails",
                        success: function(data) {
                            console.log(data);
                            if (data === undefined) {
                                $("#supplier").text("");
                                //$("#yarnFor").text("");
                                toastrNotification("Error: Please Select valid Lot No.", "error");
                            } else {
                                $("#supplier").text(data.brand);
                                //$("#yarnFor").text(data.yarnfor.yarnname);
                            }
                        },
                        error: function() {
                            $("#supplier").text("");
                            //$("#yarnFor").text("");
                            toastrNotification("Error: Please Enter valid Set No.", "error");
                        }
                    });
                });


            $("#PlBulkProgSetupD_PROG_NO").on("keyup", function() {
                const insertedItem = $(this).val();

                if (insertedItem.length === 4) {
                    GetLastSetNo();
                }
            });

            $("#PlBulkProgSetupD_PROG_NO").on("change",
                function() {
                    const insertedItem = $(this).val();
                    $.ajax({
                        async: true,
                        cache: false,
                        data: { "programNo": insertedItem },
                        type: "GET",
                        url: "/RndSampleInfoDyeing/GetProgramDetails",
                        success: function(data) {
                            console.log(data);
                            if (data === undefined || data === null) {
                                $("#PlBulkProgSetupD_PROCESS_TYPE").val("");
                                $("#PlBulkProgSetupD_WARP_TYPE").val("");
                                $("#PlBulkProgSetupD_PROGRAM_TYPE").val("");
                                toastrNotification("Error: Please Enter valid Set No.", "error");
                            } else {
                                $("#PlBulkProgSetupD_PROCESS_TYPE").val(data.procesS_TYPE);
                                $("#PlBulkProgSetupD_WARP_TYPE").val(data.warP_TYPE);
                                $("#PlBulkProgSetupD_PROGRAM_TYPE").val('Bulk');
                            }
                        },
                        error: function() {
                            $("#PlBulkProgSetupD_PROCESS_TYPE").val("");
                            $("#PlBulkProgSetupD_WARP_TYPE").val("");
                            $("#PlBulkProgSetupD_PROGRAM_TYPE").val("");
                            toastrNotification("Error: Please Enter valid Set No.", "error");
                        }
                    });
                });

            $("#btnAdd").on('click',
                function() {
                    $.ajax({
                        async: true,
                        cache: false,
                        data: $('#form').serialize(),
                        type: "POST",
                        url: '/PlBulkProgSetup/AddProgramSetNoDetails',
                        success: function(partialView, status, xhr) {
                            setQty(xhr);
                            //console.log(partialView);
                            $('#ProgramSetDetails').html(partialView);
                        },
                        error: function(e) {
                            console.log(e);
                        }
                    });
                });
        });

        function setQty(xhr) {
            const pending = xhr.getResponseHeader("Pending");
            const production = xhr.getResponseHeader("Production");
            $('#pend').text(pending);
            $('#prod').text(production);
            if ($('#pend').text() < -50000) {
                $('#pending').addClass('text-danger');
                $('#btn_submit').prop('disabled', true);
            } else {
                $('#pending').removeClass('text-danger');
                $('#btn_submit').prop('disabled', false);
            }
        }

        function getSoDetails(orderNo) {
            if (orderNo === "") {
                return false;
            }
            const url = '@Url.Action($"GetRndPoDetails", $"PlBulkProgSetup")';
            $.ajax({
                async: true,
                cache: false,
                data: { "orderNO": orderNo },
                type: "GET",
                url: url,
                success: function(data) {
                    console.log(data);
                    if (data != null) {
                        setReturnDataBySo(data);
                    }
                },
                error: function() {
                    console.log("failed to attach...");
                }
            });
            return false;
        }

        function setReturnDataBySo(data) {
            const piNo = $("#piNo");
            const delStart = $("#delStart");
            const delClose = $("#delClose");
            const orderYds = $("#ordrYds");
            const orderMtr = $("#ordrMtr");
            const warpLen = $("#PlBulkProgSetupM_WARP_QTY");
            const greyLen = $("#greyQty");
            const styleNo = $("#styleNo");
            const buyer = $("#buyer");
            var countId = $("#PlBulkProgYarnD_COUNTID");
            var lotId = $("#PlBulkProgYarnD_LOTID");

            orderYds.text(Math.ceil(data.rndProductionOrder.ordeR_QTY_YDS.toFixed(2)));

            orderMtr.text(Math.ceil(data.rndProductionOrder.ordeR_QTY_MTR.toFixed(2)));

            warpLen.val(Math.ceil(data.rndProductionOrder.warP_LENGTH_MTR.toFixed(2)));

            greyLen.text(Math.ceil(data.rndProductionOrder.greY_LENGTH_MTR.toFixed(2)));
            //$("#prod").text(Math.ceil(orderQtyMtr.toFixed(2)));

            $("#pend").text(Math.ceil(data.rndProductionOrder.warP_LENGTH_MTR.toFixed(2)));


            piNo.text(data.comExPimaster.pino);
            if (data.comExPimaster.deL_START != null) {
                delStart.text(data.comExPimaster.deL_START.substring(0, 10));
            }
            if (data.comExPimaster.deL_CLOSE != null) {
                delClose.text(data.comExPimaster.deL_CLOSE.substring(0, 10));
            }

            styleNo.text(data.rndFabricInfo.stylE_NAME);
            buyer.text(data.comExPimaster.buyer.buyeR_NAME);

            countId.html('');
            countId.append('<option value="" selected>Select Count</option>');
            $.each(data.rndFabricCountInfos,
                function(id, option) {
                    countId.append($('<option></option>').val(option.trnsid).html(option.count.countname));
                });

            //lotId.html('');
            //lotId.append('<option value="" selected>Select Lot</option>');
            //$.each(data.basYarnLotInfos,
            //    function(id, option) {
            //        lotId.append($('<option></option>').val(option.lotid).html(option.lotno));
            //    });
        }
    </script>
}