
@model COS_FIXEDCOST

@{
    ViewData["Title"] = "Create Fixed Cost";
    Layout = Layout;
}

<h2><i class="fa fa-plus-circle text-success" aria-hidden="true"></i> @ViewData["Title"]</h2>
<hr />

<form id="form" role="form" asp-action="CreateFixedCost">
    <div class="panel panel-default setup-content">
        <div class="panel-body row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="DYEINGCOST" class="control-label"></label>
                    <input asp-for="DYEINGCOST" class="form-control" />
                    <span asp-validation-for="DYEINGCOST" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="UPCHARGE" class="control-label"></label>
                    <input asp-for="UPCHARGE" class="form-control" />
                    <span asp-validation-for="UPCHARGE" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="PRINTINGCOST" class="control-label"></label>
                    <input asp-for="PRINTINGCOST" class="form-control" />
                    <span asp-validation-for="PRINTINGCOST" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="OVERHEADCOST" class="control-label"></label>
                    <input asp-for="OVERHEADCOST" class="form-control" />
                    <span asp-validation-for="OVERHEADCOST" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="SAMPLECOST" class="control-label"></label>
                    <input asp-for="SAMPLECOST" class="form-control" />
                    <span asp-validation-for="SAMPLECOST" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="SIZINGCOST" class="control-label"></label>
                    <input asp-for="SIZINGCOST" class="form-control" />
                    <span asp-validation-for="SIZINGCOST" class="text-danger"></span>
                </div>
            </div>
            @*<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="OPTION1" class="control-label"></label>
                    <input asp-for="OPTION1" class="form-control" />
                    <span asp-validation-for="OPTION1" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="OPTION2" class="control-label"></label>
                    <input asp-for="OPTION2" class="form-control" />
                    <span asp-validation-for="OPTION2" class="text-danger"></span>
                </div>
            </div>*@
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="CFRCOST" class="control-label"></label>
                    <input asp-for="CFRCOST" class="form-control" />
                    <span asp-validation-for="CFRCOST" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="COMSAMPLECOST" class="control-label"></label>
                    <input asp-for="COMSAMPLECOST" class="form-control" />
                    <span asp-validation-for="COMSAMPLECOST" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="REJECTION" class="control-label"></label>
                    <input asp-for="REJECTION" class="form-control" />
                    <span asp-validation-for="REJECTION" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="STATUS" class="control-label"></label>
                    <select class="form-control" asp-for="STATUS">
                        <option value="True" selected>Active</option>
                        <option value="False">Inactive</option>
                    </select>
                    <span asp-validation-for="STATUS" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="REMARKS" class="control-label"></label>
                    <input asp-for="REMARKS" class="form-control" id="REMARKS" />
                    <span asp-validation-for="REMARKS" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-warning pull-right" type="submit">Update</button>
                <a class="btn btn-dark pull-right" asp-action="GetCosFixedCostWithPaged" asp-controller="CosFixedCost">Back to List</a>
            </div>
        </div>
    </div>
</form>