
@using DevExpress.AspNetCore
@using ComTenorData = DenimERP.Views.ComTenor.Reports.ComTenorData

@{
    ViewData["Title"] = "Fixed Cost Report";
    Layout = Layout;
}

<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new ComTenorData())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}