
@using DevExpress.AspNetCore
@using DenimERP.Views.FPrWarpingProcessRopeMaster.Reports
@using rptWarpDelivery_Rope = DenimERP.Views.FPrWarpingProcessRopeMaster.Reports.rptWarpDelivery_Rope

@model string

@{
    ViewData["Title"] = "Warp Delivery Report";
    Layout = Layout;
}
    <h2>Warp Delivery Report</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptWarpDelivery_Rope(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}