@using DevExpress.AspNetCore
@using DenimERP.Reports.Sticker
@using rptWarpingSticker = DenimERP.Reports.Sticker.rptWarpingSticker

@{
    ViewData["Title"] = "Warp Delivery Sticker";
    Layout = Layout;
}
    <h2>Warp Delivery Sticker</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptWarpingSticker())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}