@model FPrInspectionWastageTransferViewModel

@{
    ViewData["Title"] = "Wastage Transfer (Inspection)";
    //Layout = Layout;
}

<h2><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i>Create @ViewData["Title"]</h2>
<hr />

<div class="container-fluid">
    <form id="form" role="form" asp-action="CreateFPrInspectionWastageTransfer">
        <div class="panel panel-default setup-content" id="step-1">
            <div class="panel-body row">
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionWastageTransfer.TRANSDATE" class="control-label"></label>
                        <input asp-for="FPrInspectionWastageTransfer.TRANSDATE" class="form-control" />
                        <span asp-validation-for="FPrInspectionWastageTransfer.TRANSDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionWastageTransfer.CUT_PIECE_Y" class="control-label"></label>
                        <input asp-for="FPrInspectionWastageTransfer.CUT_PIECE_Y" class="form-control" />
                        <span asp-validation-for="FPrInspectionWastageTransfer.CUT_PIECE_Y" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionWastageTransfer.CUT_PIECE_R" class="control-label"></label>
                        <input asp-for="FPrInspectionWastageTransfer.CUT_PIECE_R" class="form-control" />
                        <span asp-validation-for="FPrInspectionWastageTransfer.CUT_PIECE_R" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionWastageTransfer.CUT_PIECE_KG" class="control-label"></label>
                        <input asp-for="FPrInspectionWastageTransfer.CUT_PIECE_KG" class="form-control" />
                        <span asp-validation-for="FPrInspectionWastageTransfer.CUT_PIECE_KG" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionWastageTransfer.JUTE_MONI" class="control-label"></label>
                        <input asp-for="FPrInspectionWastageTransfer.JUTE_MONI" class="form-control" />
                        <span asp-validation-for="FPrInspectionWastageTransfer.JUTE_MONI" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionWastageTransfer.PAPER_TUBE" class="control-label"></label>
                        <input asp-for="FPrInspectionWastageTransfer.PAPER_TUBE" class="form-control" />
                        <span asp-validation-for="FPrInspectionWastageTransfer.PAPER_TUBE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionWastageTransfer.POLY" class="control-label"></label>
                        <input asp-for="FPrInspectionWastageTransfer.POLY" class="form-control" />
                        <span asp-validation-for="FPrInspectionWastageTransfer.POLY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionWastageTransfer.CUTTON" class="control-label"></label>
                        <input asp-for="FPrInspectionWastageTransfer.CUTTON" class="form-control" />
                        <span asp-validation-for="FPrInspectionWastageTransfer.CUTTON" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionWastageTransfer.LEAD_LINE_Y" class="control-label"></label>
                        <input asp-for="FPrInspectionWastageTransfer.LEAD_LINE_Y" class="form-control" />
                        <span asp-validation-for="FPrInspectionWastageTransfer.LEAD_LINE_Y" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionWastageTransfer.LEAD_LINE_KG" class="control-label"></label>
                        <input asp-for="FPrInspectionWastageTransfer.LEAD_LINE_KG" class="form-control" />
                        <span asp-validation-for="FPrInspectionWastageTransfer.LEAD_LINE_KG" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionWastageTransfer.CLEARANCE_SWACH" class="control-label"></label>
                        <input asp-for="FPrInspectionWastageTransfer.CLEARANCE_SWACH" class="form-control" />
                        <span asp-validation-for="FPrInspectionWastageTransfer.CLEARANCE_SWACH" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionWastageTransfer.CLEARANCE_HEADERS" class="control-label"></label>
                        <input asp-for="FPrInspectionWastageTransfer.CLEARANCE_HEADERS" class="form-control" />
                        <span asp-validation-for="FPrInspectionWastageTransfer.CLEARANCE_HEADERS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FPrInspectionWastageTransfer.REMARKS" class="control-label"></label>
                        <input asp-for="FPrInspectionWastageTransfer.REMARKS" class="form-control" />
                        <span asp-validation-for="FPrInspectionWastageTransfer.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-success pull-right" type="submit">Create</button>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive table-hover">
                    @await Html.PartialAsync($"~/Views/FPrInspectionWastageTransfer/GetFPrInspectionWastageTransfer.cshtml", Model.FPrInspectionWastageTransfer)
                </div>
            </div>
        </div>
    </form>
</div>

@section Styles
{
    <link asp-append-version="true" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@section Scripts
{
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script asp-append-version="true" src="~/js/FPrInspectionWastageTransfer/GetFPrInspectionWastageTransfer.js"></script>
}