@model FBasHrdGradeViewModel
<h2><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i>Create @ViewData["Title"]</h2>
<hr />

<div class="container-fluid">
    <form id="form" role="form" asp-action="CreateFBasHrdGrade">
        <div class="panel panel-default setup-content">
            <div class="panel-body row">
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FBasHrdGrade.GRADE_NAME" class="control-label"></label>
                        <input asp-for="FBasHrdGrade.GRADE_NAME" class="form-control" />
                        <span asp-validation-for="FBasHrdGrade.GRADE_NAME" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FBasHrdGrade.DESCRIPTION" class="control-label"></label>
                        <input asp-for="FBasHrdGrade.DESCRIPTION" class="form-control" />
                        <span asp-validation-for="FBasHrdGrade.DESCRIPTION" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FBasHrdGrade.REMARKS" class="control-label"></label>
                        <input asp-for="FBasHrdGrade.REMARKS" class="form-control" />
                        <span asp-validation-for="FBasHrdGrade.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-success pull-right" type="submit">Create</button>
                    <a asp-action="GetFBasHrdGrade" class="btn btn-dark pull-right">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
}