@model PlProductionGroupViewModel
@{
    ViewData["Title"] = "Create Group";
    Layout = Layout;
}

<h2><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i> Production Planning Group</h2>

<hr />
<div class="container-fluid">
<form id="form" role="form" asp-action="CreateProductionGroup">
        <div class="panel panel-default">
            <div class="panel-body row">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlProductionPlanMaster.GROUP_NO" class="control-label"></label>
                        <input asp-for="PlProductionPlanMaster.GROUP_NO" class="form-control" readonly="readonly" />
                        <span asp-validation-for="PlProductionPlanMaster.GROUP_NO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 d-none">
                    <div class="form-group">
                        <label asp-for="PlProductionPlanMaster.GROUPDATE" class="control-label"></label>
                        <input asp-for="PlProductionPlanMaster.GROUPDATE" class="form-control" />
                        <span asp-validation-for="PlProductionPlanMaster.GROUPDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 d-none">
                    <div class="form-group">
                        <label class="control-label">Total Ends</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="totalEnds">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 d-none">
                    <div class="form-group">
                        <label asp-for="PlProductionPlanMaster.REMARKS" class="control-label"></label>
                        <input asp-for="PlProductionPlanMaster.REMARKS" class="form-control" />
                        <span asp-validation-for="PlProductionPlanMaster.REMARKS" class="text-danger"></span>
                    </div>
                </div>

                @*<div class="col-12">
            <h2 class="panel-title text-success">Order No. List</h2>
            <hr />
        </div>*@

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 d-none">
                    <div class="form-group">
                        <label asp-for="PlProductionSoDetails.POID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.PlProductionSoDetails.POID, new SelectList(Model.ProductionOrderList, "ID", "Name"), "Select Order No.", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="PlProductionSoDetails.POID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlProductionPlanMaster.DYEING_REFERANCE" class="control-label"></label>
                        <input asp-for="PlProductionPlanMaster.DYEING_REFERANCE" class="form-control" />
                        <span asp-validation-for="PlProductionPlanMaster.DYEING_REFERANCE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlProductionPlanMaster.DYEING_TYPE" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.PlProductionPlanMaster.DYEING_TYPE, new SelectList(Model.DyeingTypes, "DID", "DTYPE"), "Select Dyeing Type.", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="PlProductionPlanMaster.DYEING_TYPE" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 d-none">
                    <div class="form-group">
                        <label asp-for="PlProductionSoDetails.REMARKS" class="control-label"></label>
                        <input asp-for="PlProductionSoDetails.REMARKS" class="form-control" />
                        <span asp-validation-for="PlProductionSoDetails.REMARKS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 d-none">
                    <button id="btnAddSo" class="btn btn-success pull-right mr-2" type="button">Add</button>
                </div>

                <div id="PoNoDetails" class="col-12">
                    @await Html.PartialAsync("~/Views/PlProductionPlanGroupMaster/AddSoNoList.cshtml", Model)
                </div>

                @*<div class="col-12 d-flex justify-content-end">
            <div class="form-group">
                <button class="btn btn-outline-success" id="subGroup" type="button">Add Sub-Group</button>
            </div>
        </div>*@
                <div class="pl-1 col-12">
                    <div>
                        <h2 class="panel-title text-success">Sub-Group Common Information</h2>
                    </div>
                    <hr />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlProductionPlanDetails.SUBGROUPNO" class="control-label"></label>
                        <input asp-for="PlProductionPlanDetails.SUBGROUPNO" class="form-control" readonly="readonly" />
                        <span asp-validation-for="PlProductionPlanDetails.SUBGROUPNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlProductionPlanDetails.RATIO" class="control-label"></label>
                        <input asp-for="PlProductionPlanDetails.RATIO" class="form-control" />
                        <span asp-validation-for="PlProductionPlanDetails.RATIO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlProductionPlanDetails.REED" class="control-label"></label>
                        <input asp-for="PlProductionPlanDetails.REED" class="form-control" />
                        <span asp-validation-for="PlProductionPlanDetails.REED" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlProductionPlanDetails.BEAM_NO" class="control-label"></label>
                        <input asp-for="PlProductionPlanDetails.BEAM_NO" class="form-control" />
                        <span asp-validation-for="PlProductionPlanDetails.BEAM_NO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 d-none">
                    <div class="form-group">
                        <label asp-for="PlProductionPlanDetails.REMARKS" class="control-label"></label>
                        <input asp-for="PlProductionPlanDetails.REMARKS" class="form-control" />
                        <span asp-validation-for="PlProductionPlanDetails.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="col-12">
            <h2 class="panel-title text-success">Program/Set No. List</h2>
            <hr />
        </div>*@
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlProductionSetDistribution.PROG_ID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.PlProductionSetDistribution.PROG_ID, new SelectList(Model.PlBulkProgSetupDList, "PROG_ID", "PROG_NO"), "Select Program/Set No.", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="PlProductionSetDistribution.PROG_ID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Length</label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="length">
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PlProductionSetDistribution.REMARKS" class="control-label"></label>
                        <input asp-for="PlProductionSetDistribution.REMARKS" class="form-control" />
                        <span asp-validation-for="PlProductionSetDistribution.REMARKS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12">
                    <button class="btn btn-success pull-right" type="submit" id="btn_submit">Create</button>
                    <button id="btnAdd" class="btn btn-success pull-right mr-2" type="button">Add</button>
                    <button class="btn btn-outline-success pull-right mr-2" id="subGroup" type="button">Add Sub-Group</button>
                    <a asp-action="GetProductionGroup" class="btn btn-dark pull-right mr-2">Back to List</a>
                </div>
                <div id="ProgramSetDetails" class="col-12">
                    @await Html.PartialAsync("~/Views/PlProductionPlanGroupMaster/AddProgramSetNoList.cshtml", Model)
                </div>

            </div>
        </div>

    </form>
</div>

@section Styles {
    <link href="~/css/CustomCSS/Stepper.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptPartial_Except_jQuery");}
    <script src="~/js/custom-js/Stepper.js" asp-append-version="true"></script>
    <script type="text/javascript" asp-append-version="true">

        function getSubGroupNo() {
            $.ajax({
                async: true,
                cache: false,
                data: $('#form').serialize(),
                type: "POST",
                url: "/PlProductionPlanGroupMaster/GetSubGroupNo",
                success: function(data) {
                    $("#subGroup").removeClass("btn-danger");
                    $("#subGroup").addClass("btn-outline-success");
                    $('#PlProductionPlanDetails_SUBGROUPNO').val(data);
                },
                error: function(e) {
                    console.log(e);
                }
            });
        }

        $(function() {

            getSubGroupNo();

            $("#subGroup").on('click',
                function() {
                    getSubGroupNo();
                });

            $("#btnAdd").on('click',
                function() {
                    if ($('#PlProductionPlanDetails_SUBGROUPNO').val() === "") {
                        toastrNotification("Error: Please Add Sub-Group First", "error");
                        $("#subGroup").addClass("btn-danger");
                        $("#subGroup").removeClass("btn-outline-success");
                        return false;
                    } else {
                        $("#subGroup").removeClass("btn-danger");
                        $("#subGroup").addClass("btn-outline-success");
                    }

                    if ($('#PlProductionSetDistribution_PROG_ID').val() === "") {
                        toastrNotification("Error: Please Select Program/Set No.", "error");
                        $("#PlProductionSetDistribution_PROG_ID").border("1px solid red");
                        return false;
                    } else {
                        $("#PlProductionSetDistribution_PROG_ID").removeClass("btn-danger");
                    }
                    $.ajax({
                        async: true,
                        cache: false,
                        data: $('#form').serialize(),
                        type: "POST",
                        url: "/PlProductionPlanGroupMaster/AddProgramSetNoList",
                        success: function(partialView, status, xhr) {
                            $('#ProgramSetDetails').html(partialView);
                            //getSubGroupNo();
                        },
                        error: function(e) {
                            console.log(e);
                        }
                    });
                });

            $("#btnAddSo").on('click',
                function() {
                    $.ajax({
                        async: true,
                        cache: false,
                        data: $('#form').serialize(),
                        type: "POST",
                        url: "/PlProductionPlanGroupMaster/AddSoNoList",
                        success: function(partialView, status, xhr) {
                            $('#PoNoDetails').html(partialView);
                        },
                        error: function(e) {
                            console.log(e);
                        }
                    });
                });

            $("#PlBulkProgSetupM_ORDERNO").on("change",
                function() {
                    var selectedVal = $(this).val();
                    getSoDetails(selectedVal);
                });

            $('#PlProductionSetDistribution_PROG_ID').on("change",
                function() {
                    var selectedVal = $(this).val();
                    $.ajax({
                        async: true,
                        cache: false,
                        data: { "progId": selectedVal },
                        type: "GET",
                        url: "/PlProductionPlanGroupMaster/GetProgramLength",
                        success: function(data) {
                            console.log(data);
                            if (data === undefined) {
                                $("#length").text("");
                                toastrNotification("Error: Please Select valid Program No.", "error");
                            } else {
                                $("#length").text(data.seT_QTY);
                                $("#PlProductionPlanDetails_REED").val(data.opT1);
                                $("#PlProductionPlanDetails_RATIO").val(data.opT2);

                                //

                                if (data.opT5 === "ECRU-SIZING") {
                                    $("#PlProductionPlanMaster_DYEING_TYPE").val(2004).trigger('change');
                                } else if (data.opT5 === "SLASHER") {
                                    $("#PlProductionPlanMaster_DYEING_TYPE").val(2005).trigger('change');
                                } else if (data.opT5 === "ROPE") {
                                    $("#PlProductionPlanMaster_DYEING_TYPE").val(2001).trigger('change');
                                } else {
                                    $("#PlProductionPlanMaster_DYEING_TYPE").val(data.opT4).trigger('change');
                                }

                                $("#PlProductionPlanMaster_DYEING_REFERANCE").val(data.opT3);
                            }
                        },
                        error: function() {
                            $("#length").text("");
                            toastrNotification("Error: Please Enter valid Program No.", "error");
                        }
                    });
                });

            $('#PlProductionSoDetails_POID').on("change",
                function() {
                    var selectedVal = $(this).val();
                    $.ajax({
                        async: true,
                        cache: false,
                        data: { "soNo": selectedVal },
                        type: "GET",
                        url: "/PlProductionPlanGroupMaster/GetPODetails",
                        success: function(data) {
                            console.log(data);
                            $("#PlProductionPlanMaster_DYEING_TYPE").val(data.dyenG_TYPE).trigger('change');
                            $("#PlProductionPlanMaster_DYEING_REFERANCE").val(data.so.style.fabcodeNavigation.progno);
                            $("#PlProductionPlanDetails_RATIO").val(data.so.style.fabcodeNavigation.totalrope);
                            $("#PlProductionPlanDetails_REED").val(data.so.style.fabcodeNavigation.reeD_COUNT);
                        },
                        error: function() {
                            $("#length").text("");
                            toastrNotification("Error: Please Enter valid Order No.", "error");
                        }
                    });
                });

            $("#PlBulkProgSetupD_SET_QTY").on("change",
                function() {
                    var selectedVal = $(this).val();
                    if (selectedVal <= 0) {
                        toastrNotification("Error: Set Qty can not be less then or equal 0.", "error");
                        $(this).val(0);
                        return false;
                    }
                    return false;
                });

            $("#PlBulkProgYarnD_LOTID").on("change",
                function() {
                    var selectedVal = $(this).val();
                    if (selectedVal === "") {
                        $("#supplier").text("");
                        $("#yarnFor").text("");
                        return false;
                    }
                    $.ajax({
                        async: true,
                        cache: false,
                        data: { "lotId": selectedVal },
                        type: "GET",
                        url: "/PlBulkProgSetup/GetLotDetailsFromLotwiseTable",
                        success: function(data) {
                            console.log(data);
                            if (data === undefined) {
                                $("#supplier").text("");
                                $("#yarnFor").text("");
                                toastrNotification("Error: Please Select valid Lot No.", "error");
                            } else {
                                $("#supplier").text(data.supp.suppname);
                                $("#yarnFor").text(data.yarnfor.yarnname);
                            }
                        },
                        error: function() {
                            $("#supplier").text("");
                            $("#yarnFor").text("");
                            toastrNotification("Error: Please Enter valid Set No.", "error");
                        }
                    });
                });

            $("#PlBulkProgSetupD_YARN_TYPE").on("change",
                function() {
                    var orderNo = $("#PlBulkProgSetupM_ORDERNO").val();
                    var selectedVal = $(this).val();
                    var countId = $("#PlBulkProgYarnD_COUNTID");
                    var lotId = $("#PlBulkProgYarnD_LOTID");
                    if (selectedVal === "") {
                        return false;
                    }
                    $.ajax({
                        async: true,
                        cache: false,
                        data: { "orderNo": orderNo, "yarnType": selectedVal },
                        type: "GET",
                        url: "/PlBulkProgSetup/GetCountFilterByYarnType",
                        success: function(data) {
                            console.log(data);
                            if (data === null) {
                                countId.html('');
                                countId.append('<option value="" selected>Select Count</option>');
                                toastrNotification("Error: Please Select valid Program Type.", "error");
                            } else {
                                countId.html('');
                                countId.append('<option value="" selected>Select Count</option>');
                                $.each(data,
                                    function(id, option) {
                                        countId.append($('<option></option>').val(option.count.countid).html(option.count.countname));
                                    });
                            }
                        },
                        error: function() {
                            countId.html('');
                            countId.append('<option value="" selected>Select Count</option>');
                            toastrNotification("Error: Please Enter valid Program Type.", "error");
                        }
                    });
                });

            $("#PlBulkProgSetupD_PROG_NO").on("change",
                function() {
                    var insertedItem = $(this).val();
                    $.ajax({
                        async: true,
                        cache: false,
                        data: { "programNo": insertedItem },
                        type: "GET",
                        url: "/RndSampleInfoDyeing/GetProgramDetails",
                        success: function(data) {
                            console.log(data);
                            if (data === undefined || data === null) {
                                $("#PlBulkProgSetupD_PROCESS_TYPE").val("");
                                $("#PlBulkProgSetupD_WARP_TYPE").val("");
                                $("#PlBulkProgSetupD_PROGRAM_TYPE").val("");
                                toastrNotification("Error: Please Enter valid Set No.", "error");
                            } else {
                                $("#PlBulkProgSetupD_PROCESS_TYPE").val(data.procesS_TYPE);
                                $("#PlBulkProgSetupD_WARP_TYPE").val(data.warP_TYPE);
                                $("#PlBulkProgSetupD_PROGRAM_TYPE").val('Bulk');
                            }
                        },
                        error: function() {
                            $("#PlBulkProgSetupD_PROCESS_TYPE").val("");
                            $("#PlBulkProgSetupD_WARP_TYPE").val("");
                            $("#PlBulkProgSetupD_PROGRAM_TYPE").val("");
                            toastrNotification("Error: Please Enter valid Set No.", "error");
                        }
                    });
                });
        });

        function setQty(xhr) {
            var pending = xhr.getResponseHeader("Pending");
            var production = xhr.getResponseHeader("Production");
            $('#pend').text(pending);
            $('#prod').text(production);
            if ($('#pend').text() < 0) {
                $('#pending').addClass('text-danger');
                $('#btn_submit').prop('disabled', true);
            } else {
                $('#pending').removeClass('text-danger');
                $('#btn_submit').prop('disabled', false);
            }
        }

        function getSoDetails(orderNo) {
            if (orderNo === "") {
                return false;
            }
            var url = '@Url.Action("GetPoDetails", "RndProductionOrder")';
            $.ajax({
                async: true,
                cache: false,
                data: { "orderNO": orderNo },
                type: "GET",
                url: url,
                success: function(data) {
                    console.log(data);
                    if (data != null) {
                        setReturnDataBySo(data);
                    }
                },
                error: function() {
                    console.log("failed to attach...");
                }
            });
            return false;
        }

        function setReturnDataBySo(data) {
            var piNo = $("#piNo");
            var delStart = $("#delStart");
            var delClose = $("#delClose");
            //var orderYds = $("#RndProductionOrder_ORDER_QTY_YDS");
            var orderMtr = $("#PlBulkProgSetupM_WARP_QTY");
            //var warpLen = $("#RndProductionOrder_WARP_LENGTH_MTR");
            //var greyLen = $("#RndProductionOrder_GREY_LENGTH_MTR");
            var styleNo = $("#styleNo");
            var buyer = $("#buyer");
            var countId = $("#PlBulkProgYarnD_COUNTID");
            var lotId = $("#PlBulkProgYarnD_LOTID");

            var orderQtyYds = data.comExPiDetails.qty;
            //orderYds.val(orderQtyYds.toFixed(2));

            var orderQtyMtr = orderQtyYds * 0.9144;
            orderMtr.val(Math.ceil(orderQtyMtr.toFixed(2)));
            //$("#prod").text(Math.ceil(orderQtyMtr.toFixed(2)));
            $("#pend").text(Math.ceil(orderQtyMtr.toFixed(2)));

            var warpLength = orderQtyMtr * 1.365;
            //warpLen.val(warpLength.toFixed(2));

            var greyLength = warpLength * 0.92;
            //greyLen.val(greyLength.toFixed(2));
            piNo.text(data.comExPiDetails.pino);
            if (data.comExPimaster.deL_START != null) {
                delStart.text(data.comExPimaster.deL_START.substring(0, 10));
            }
            if (data.comExPimaster.deL_CLOSE != null) {
                delClose.text(data.comExPimaster.deL_CLOSE.substring(0, 10));
            }

            styleNo.text(data.comExPiDetails.style.stylename);
            buyer.text(data.comExPimaster.buyer.buyeR_NAME);


            countId.html('');
            countId.append('<option value="" selected>Select Count</option>');
            $.each(data.rndFabricCountInfos,
                function(id, option) {
                    countId.append($('<option></option>').val(option.count.countid).html(option.count.countname));
                });

            lotId.html('');
            lotId.append('<option value="" selected>Select Lot</option>');
            $.each(data.basYarnLotInfos,
                function(id, option) {
                    lotId.append($('<option></option>').val(option.lotid).html(option.lotno));
                });
        }
    </script>
}