@using DevExpress.AspNetCore
@using DenimERP.Views.PlProductionPlanGroupMaster.Reports
@using rptProductionPlan = DenimERP.Views.PlProductionPlanGroupMaster.Reports.rptProductionPlan

@{
    ViewData["Title"] = "Production Planning (Date Wise)";
    Layout = Layout;
}

<h2>Production Planning (Date Wise)</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptProductionPlan())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}