@model FGsItemSubCategoryViewModel

@{
    ViewData["Title"] = "General Store Item Sub-Category Information";
}

<h2><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i>Create @ViewData["Title"]</h2>
<hr />

<div class="container-fluid">
    <form id="form" role="form" asp-action="CreateFGsItemsubCategory">
        <div class="panel panel-default setup-content" id="step-1">
            <div class="panel-body row">
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsItemsubCategory.SCATNAME" class="control-label"></label>
                        <input asp-for="FGsItemsubCategory.SCATNAME" class="form-control" />
                        <span asp-validation-for="FGsItemsubCategory.SCATNAME" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsItemsubCategory.CATID" class="control-label"></label>
                        @Html.DropDownListFor(dt => dt.FGsItemsubCategory.CATID, new SelectList(Model.FGsItemcategoriesList, "CATID", "CATNAME"), "Select Category", new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FGsItemsubCategory.CATID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsItemsubCategory.DESCRIPTION" class="control-label"></label>
                        <input asp-for="FGsItemsubCategory.DESCRIPTION" class="form-control" />
                        <span asp-validation-for="FGsItemsubCategory.DESCRIPTION" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsItemsubCategory.REMARKS" class="control-label"></label>
                        <input asp-for="FGsItemsubCategory.REMARKS" class="form-control" />
                        <span asp-validation-for="FGsItemsubCategory.REMARKS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-success pull-right" type="submit">Create</button>
                    <a asp-action="GetFGsItemSubCategory" class="btn btn-dark pull-right">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
}