@model BasTeamInfoViewModel

@{
    ViewData["Title"] = "CreateBasTeamInfo";
    Layout = Layout;
}

<h2>Create Team Info</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBasTeamInfo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BAS_TEAMINFO.TEAM_NAME" class="control-label"></label>
                <input asp-for="BAS_TEAMINFO.TEAM_NAME" class="form-control" />
                <span asp-validation-for="BAS_TEAMINFO.TEAM_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BAS_TEAMINFO.DEPTID" class="control-label"></label>
                @Html.DropDownListFor(dt => dt.BAS_TEAMINFO.DEPTID, new SelectList(Model.aDM_DEPARTMENTs, "DEPTID", "DEPTNAME"), htmlAttributes: new { @class = "form-control js-example-basic-single" })
                @Html.ValidationMessageFor(fi => fi.BAS_TEAMINFO.DEPTID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="BAS_TEAMINFO.REMARKS" class="control-label"></label>
                <input asp-for="BAS_TEAMINFO.REMARKS" class="form-control" />
                <span asp-validation-for="BAS_TEAMINFO.REMARKS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="GetBasTeamsWithPaged" class="btn btn-dark" accesskey="b">Back to List</a>
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptPartial_Except_jQuery");}
    <script>
        $(function () {

            $('#form').submit(function () {
                $(this).find(':submit').attr('disabled', 'disabled');
            });
        })
    </script>
}
