@using DevExpress.AspNetCore
@using DenimERP.Views.ComExPiMaster.Reports
@using RptPiInformation_Ex = DenimERP.Views.ComExPiMaster.Reports.RptPiInformation_Ex
@model string

@{
    ViewData["Title"] = "Foreign PI Report";
    Layout = Layout;
}
<h2>@ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new RptPiInformation_Ex(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}