
@using DevExpress.AspNetCore
@using DenimERP.Views.ComExPiMaster.Reports
@using RptPiInformation = DenimERP.Views.ComExPiMaster.Reports.RptPiInformation

@model string

@{
    ViewData["Title"] = "Report for PI";
    Layout = Layout;
}

<h2>Proforma Invoice</h2>

@{
    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new RptPiInformation(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}