<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label">MRR No.</label>
            <input type="" class="form-control" id="" />
            <span asp-validation-f class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label">Date</label>
            <input type="" class="form-control" id="" />
            <span asp-validation-f class="text-danger"></span>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label">Project</label>
            <input type="" class="form-control" id="" />
            <span asp-validation-f class="text-danger"></span>
        </div>
    </div>
   
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label">Challan No.</label>
            <input type="" class="form-control" id="" />
            <span asp-validation-f class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label">Challan Date</label>
            <input type="" class="form-control" id="" />
            <span asp-validation-f class="text-danger"></span>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label">PI No.</label>
            <input type="" class="form-control" id="" />
            <span asp-validation-f class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label">PI Date</label>
            <input type="" class="form-control" id="" />
            <span asp-validation-f class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label">LC No.</label>
            <input type="" class="form-control" id="" />
            <span asp-validation-f class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label">LC Date</label>
            <input type="" class="form-control" id="" />
            <span asp-validation-f class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label">Order No.</label>
            <input type="" class="form-control" id="" />
            <span asp-validation-f class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label">Courier No.</label>
            <input type="" class="form-control" id="" />
            <span asp-validation-f class="text-danger"></span>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label">Courier No.</label>
            <input type="" class="form-control" id="" />
            <span asp-validation-f class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label">Supplier Name</label>
            <input type="" class="form-control" id="" />
            <span asp-validation-f class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label">Invoice No.</label>
            <input type="" class="form-control" id="" />
            <span asp-validation-f class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label">Truck No.</label>
            <input type="" class="form-control" id="" />
            <span asp-validation-f class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label">GE No.</label>
            <input type="" class="form-control" id="" />
            <span asp-validation-f class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label">GE Date</label>
            <input type="" class="form-control" id="" />
            <span asp-validation-f class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="control-label">Remarks</label>
            <input type="" class="form-control" id="" />
            <span asp-validation-f class="text-danger"></span>
        </div>
    </div>
</div>