@model BasProductInfoViewModel
@{
    ViewData["Title"] = "EditProduct";
    Layout = Layout;
}

<h2><i class="fa fa-edit text-warning" aria-hidden="true"></i> Update Product</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(c => c.BAS_PRODUCTINFO.PRODID)
            @Html.HiddenFor(c => c.BAS_PRODUCTINFO.EncryptedId)
            <div class="form-group">
                <label asp-for="BAS_PRODUCTINFO.PRODNAME" class="control-label"></label>
                <input asp-for="BAS_PRODUCTINFO.PRODNAME" class="form-control" />
                <span asp-validation-for="BAS_PRODUCTINFO.PRODNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BAS_PRODUCTINFO.DESCRIPTION" class="control-label"></label>
                <input asp-for="BAS_PRODUCTINFO.DESCRIPTION" class="form-control" />
                <span asp-validation-for="BAS_PRODUCTINFO.DESCRIPTION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BAS_PRODUCTINFO.CATID" class="control-label"></label>
                @Html.DropDownListFor(pc => pc.BAS_PRODUCTINFO.CATID, new SelectList(Model.BAS_PRODCATEGORies, "CATID", "CATEGORY"), htmlAttributes: new { @class = "form-control js-example-basic-single" })
                <span asp-validation-for="BAS_PRODUCTINFO.CATID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BAS_PRODUCTINFO.UNIT" class="control-label"></label>
                <input asp-for="BAS_PRODUCTINFO.UNIT" class="form-control" />
                <span asp-validation-for="BAS_PRODUCTINFO.UNIT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BAS_PRODUCTINFO.REMARKS" class="control-label"></label>
                <input asp-for="BAS_PRODUCTINFO.REMARKS" class="form-control" />
                <span asp-validation-for="BAS_PRODUCTINFO.REMARKS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="GetProducts" class="btn btn-dark" accesskey="b">Back to List</a>
                <input type="submit" value="Update" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

@section Scripts {

    <script>
        $(function () {

            $('#form').submit(function () {
                $(this).find(':submit').attr('disabled', 'disabled');
            });
        })
    </script>
}
