@using DevExpress.AspNetCore
@using DenimERP.Views.AccExportDoMaster.Report
@using rptDOInformation_Small = DenimERP.Views.AccExportDoMaster.Report.rptDOInformation_Small
@model int

@{
    ViewData["Title"] = "DO (Export)";
}
<h2>Report @ViewData["Title"] - Small</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptDOInformation_Small(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}