

@using DevExpress.AspNetCore
@using DenimERP.Views.FSampleFabricIssue.Reports
@using RSampleFabricIssue = DenimERP.Views.FSampleFabricIssue.Reports.RSampleFabricIssue

@{
    ViewData["Title"] = "Sample Fabric Issue";
}

<h2>Reports @ViewData["Title"]</h2>

@{
    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new RSampleFabricIssue())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}