@model UserSecrets

<div class="modal fade" id="rules" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-cog text-warning fa-spin"></i> Tips</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    @{
                        var showList = Model.ShowList();

                        if (showList[0])
                        {
                            <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Asterisk (<i class="fa fa-asterisk text-danger fa-spin"></i>) Fields Are Required. </li>
                        }

                        if (showList[1])
                        {
                            <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Fill-up In The Details Fields & Click (<div class="btn btn-success btn-sm">Add</div>) To Add More Items.</li>
                        }

                        if (showList[2])
                        {
                            <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Click On (<i class="fa fa-trash text-danger"></i>) To Remove Items From The List. </li>
                        }

                        if (showList[3])
                        {
                            <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Fill-up In The Details Fields & Click (<div class="btn btn-warning btn-sm">Update</div>) To Update Information.</li>
                        }

                        if (showList[4])
                        {
                            <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Click (<div class="btn btn-dark btn-sm">Back to List</div>) To Go Back To The List Page.</li>
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>