@using DevExpress.AspNetCore
@using DenimERP.Views.FDyeingProcessSlasherMaster.Reports
@using rptSlasher_Delivery = DenimERP.Views.FDyeingProcessSlasherMaster.Reports.rptSlasher_Delivery
@model string

@{
    ViewData["Title"] = "Slasher Delivery Report";
    Layout = Layout;
}
    <h2>Slasher Delivery Report</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptSlasher_Delivery(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}