@model BAS_BRANDINFO

@{
    ViewData["Title"] = "EditBasBrandInfo";
    Layout = Layout;
}

<h2>Edit Brand Info</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBasBrandInfo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(bi => bi.BRANDID)
            @Html.HiddenFor(bi => bi.EncryptedId)

            <div class="form-group">
                <label asp-for="BRANDNAME" class="control-label"></label>
                <input asp-for="BRANDNAME" class="form-control" />
                <span asp-validation-for="BRANDNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BRANDCODE" class="control-label"></label>
                <input asp-for="BRANDCODE" class="form-control" />
                <span asp-validation-for="BRANDCODE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REMARKS" class="control-label"></label>
                <input asp-for="REMARKS" class="form-control" />
                <span asp-validation-for="REMARKS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="GetBasBrandInfoWithPaged" class="btn btn-dark" accesskey="b">Back to List</a>
                <input type="submit" value="Update" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {

            $('#form').submit(function () {
                $(this).find(':submit').attr('disabled', 'disabled');
            });
        })
    </script>
}
