@model COS_WASTAGE_PERCENTAGE

@{
    ViewData["Title"] = "Wastage(%)";
    Layout = Layout;
}

<div class="x_panel">
    <div class="x_title">
        <h2>
            <i class="fa fa-list fa-lg text-info" aria-hidden="true"></i> Wastage(%)
        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="mr-4">
                <p>
                    <a asp-action="CreateCosWastagePercentage" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</a>
                </p>
            </li>
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content table-responsive">
        <table class="table table-striped" id="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DESCRIPTION)</th>
                    <th>@Html.DisplayNameFor(model => model.VALUE)</th>
                    <th>@Html.DisplayNameFor(model => model.REMARKS)</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Styles
{
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/customerDatatable.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables/js/customerDatatable.js"></script>

    <script>
        $(document).ready(function () {
            $('#table').dataTable({
                "searchPanes":true,
                "processing": true,
                "serverSide": true,
                "filter": true,
                "pageLength": 25,
                "lengthMenu": [10, 25, 50, 100, 200, 500, 1000],
                "ajax": {
                    "async":"true",
                    "url": '@Url.Action("GetTableData", "CosWastagePercentage")',
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [3],
                    "orderable": false,
                    "searchable": false
                    }],
                "language": {
                        "searchPlaceholder": "Search for your desire results",
                        "search": '<i class="fa fa-2x fa-search" aria-hidden="true"></i>',
                        "emptyTable": '<h3>No data available</h3>',
                        "info":           "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoFiltered":   "(filtered from _MAX_ total entries)",
                        "thousands":      ",",
                        "processing":     "<i class='fa fa-4x fa-spinner' aria-hidden='true'></i>",
                        "zeroRecords":    "<h3>No matching records found</h3>",
                        "paginate": {
                            "first":      "<i class='fa fa-angle-double-left' aria-hidden='true'></i>",
                            "last":       "<i class='fa fa-angle-double-right' aria-hidden='true'></i>",
                            "next":       "<i class='fa fa-angle-right' aria-hidden='true'></i>",
                            "previous":   "<i class='fa fa-angle-left' aria-hidden='true'></i>"
                        },
                        "aria": {
                            "sortAscending":  ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        }
                      },
                "columns": [
                    { "data": "description", "name":"DESCRIPTION", "autoWidth": true },
                    { "data": "value", "name":"VALUE", "autoWidth": true },
                    { "data": "remarks", "name":"REMARKS", "autoWidth": true },
                    {
                        "render": function (data, type, row) {
                            return `<a href='#' class='fa fa-trash fa-2x-custom text-danger' onclick=deleteSwal(event,'${row.encryptedId}');></a> <a href='/CosWastagePercentage/EditCostWastagePercentage?id=${row.encryptedId}' class='fa fa-edit fa-2x-custom text-warning'></a>`;
                        }
                    },
                ]
            });
        });

        
        function deleteSwal(e, item) {
            e.preventDefault();
            swal({
                    title: "Please Confirm",
                    text: "Are you sure to delete?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, sir",
                    cancelButtonText: "Not at all"
                },
                function (isConfirm) {
                    if (isConfirm) {
                        window.location = `/CosWastagePercentage/DeleteCosWastagePercentage?id=${item}`;
                    }
                });
        }
    </script>
}
