
@using DevExpress.AspNetCore
@using DenimERP.Views.FDyeingProcessRopeMaster.Reports
@using rptRopeDyeing_Delivery = DenimERP.Views.FDyeingProcessRopeMaster.Reports.rptRopeDyeing_Delivery
@model string

@{
    ViewData["Title"] = "Dyeing Delivery Report";
    Layout = Layout;
}
<h2>Dyeing Delivery Report</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptRopeDyeing_Delivery(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}