@using DevExpress.AspNetCore
@using DenimERP.Reports.Sticker
@using rptDyeingSticker_Rope = DenimERP.Reports.Sticker.rptDyeingSticker_Rope
@model string

@{
    ViewData["Title"] = "Dyeing Sticker Report";
    Layout = Layout;
}
<h2>Dyeing Sticker Report</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptDyeingSticker_Rope(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}