@model DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
    Layout = Layout;
}

<marquee width="100%" direction="left" height="40px">
    <h4 class="text-c-blue">Welcome To HRMS.</h4>
</marquee>