@{
    ViewData["Title"] = "Privacy Policy";
    Layout = Layout;
}

<h2>@ViewData["Title"]</h2>

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    This website uses cookies to improve user experience. #1
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <p>
                    Cookies are text files containing small amounts of
                    information which are downloaded to your computer when you visit a website.
                    With every subsequent visit to the website, the browser retrieves this
                    information and provides you with relevant services.
                </p>
                <p>
                    The cookies used on this site are divided into three
                    categories:
                </p>
                <ol>
                    <li>
                        Strictly
                        necessary cookies – Functionality cookies: These cookies are essential for the
                        operation of the site and the enhancement of its usability.
                    </li>
                    <li>
                        Performance
                        cookies (web-analytics): These cookies collect anonymous information about how
                        visitors use a website, for instance which pages visitors go to most often, and
                        if they get error messages from web pages.
                    </li>
                    <li>
                        Promotional
                        – Marketing cookies (targeting or advertising cookies): These cookies are used
                        to deliver adverts that are more appealing to each user and more relevant to
                        their interests.
                    </li>
                </ol>
                <p>
                    The legal bases for the processing of data
                    collected through cookies are: (a) consent of the users, (b) fulfillment of the
                    contractual mandates or taking measures at the request of a user, (c) the
                    legitimate interests of our Company.
                </p>
                <p>
                    Cookies are stored on the computer of a
                    user, who can fully control their application. Users can disable or restrict
                    cookies by adjusting their browser settings. This process can also be carried
                    out through automatic configuration. However, please note that restricting
                    cookies may impact the performance and functionality of our site.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Item #2
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                Nothing is here...
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Item #3
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                Nothing is here...
            </div>
        </div>
    </div>
</div>