@model PostCostingViewModel

@{
    ViewData["Title"] = "Post Costing Information";
    Layout = Layout;
}

<h2><i class="fa fa-edit fa-lg text-warning" aria-hidden="true"></i> Update @ViewData["Title"]</h2>

<div class="container-fluid">
    <form id="form" role="form" asp-action="EditPostCosting">
        <div class="row">

            @Html.HiddenFor(c => c.CosPostcostingMaster.EncryptedId)
            @Html.HiddenFor(c => c.CosPostcostingMaster.PCOSTID)

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="CosPostcostingMaster.TRNSDATE"></label>
                    <input asp-for="CosPostcostingMaster.TRNSDATE" class="form-control">
                    <span asp-validation-for="CosPostcostingMaster.TRNSDATE" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="CosPostcostingMaster.SO_NO" class="control-label"></label>
                    @Html.DropDownListFor(lc => lc.CosPostcostingMaster.SO_NO, new SelectList(Model.SOList, "ID", "Name"), "Select Order No", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="CosPostcostingMaster.SO_NO" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="CosPostcostingMaster.PRODUCTION_QTY"></label>
                    <input asp-for="CosPostcostingMaster.PRODUCTION_QTY" class="form-control" readonly="readonly">
                    <span asp-validation-for="CosPostcostingMaster.PRODUCTION_QTY" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="CosPostcostingMaster.OVERHEAD"></label>
                    <input asp-for="CosPostcostingMaster.OVERHEAD" class="form-control">
                    <span asp-validation-for="CosPostcostingMaster.OVERHEAD" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="CosPostcostingMaster.MONTH_PRODUCTION"></label>
                    <input asp-for="CosPostcostingMaster.MONTH_PRODUCTION" class="form-control">
                    <span asp-validation-for="CosPostcostingMaster.MONTH_PRODUCTION" class="text-danger"></span>
                </div>
            </div>

            @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label asp-for="REMARKS" class="control-label"></label>
                <input asp-for="REMARKS" type="" class="form-control" id="" />
                <span asp-validation-for="REMARKS" class="text-danger"></span>
            </div>
        </div>*@
            <hr />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div id="yarnConsumption">
                    @await Html.PartialAsync("~/Views/CosPostCostingMaster/AddPostCostingYarnDetails.cshtml", Model)
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div id="ChemConsumption">
                @await Html.PartialAsync("~/Views/CosPostCostingMaster/AddPostCostingChemDetails.cshtml", Model)
            </div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row" id="AttachTo">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button id="btnEdit" class="btn btn-warning pull-right" type="submit">Update</button>
                <a asp-action="GetPostCostingMasterList" class="btn btn-dark pull-right">Back to List</a>
            </div>
        </div>

    </form>
</div>




@section Styles {
    <link asp-append-version="true" href="~/css/CustomCSS/Stepper.css" rel="stylesheet" />
}

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/js/custom-js/Stepper.js"></script>
    <script asp-append-version="true" src="~/js/site-common.js"></script>
    <script asp-append-version="true" src="~/js/PostCostingMaster/CreatePostCosting.js"></script>
}
