@model FinishingChartDataViewModel

@{
    ViewData["Title"] = "Finishing Chart Data";
}

<div class="row text-primary">
    <h2>Finishing Data</h2>
</div>
<div class="row bg-light">
    <div class="form-group col-sm-6 col-md-6 col-lg-6 pt-2">
        <label asp-for="TotalFinishing"></label>
        <span class="custom-form-control form-control text-dark ">
            @Model.TotalFinishing
        </span>
    </div>
</div>