@model InspectionChartDataViewModel

@{
    ViewData["Title"] = "Inspection Chart Data";
}

<div class="row text-primary">
    <h2>Inspection Data</h2>
</div>
<div class="row bg-light">
    <div class="form-group col-sm-6 col-md-6 col-lg-6 pt-2">
        <label asp-for="InspectionLengthMtr"></label>
        <span class="custom-form-control form-control text-dark ">
            @Model.InspectionLengthMtr
        </span>
    </div>
    <div class="form-group col-sm-6 col-md-6 col-lg-6 pt-2">
        <label asp-for="InspectionLengthYds"></label>
        <span class="custom-form-control form-control text-dark ">
            @Model.InspectionLengthYds
        </span>
    </div>
</div>