@model DashboardViewModel

@{
    ViewData["Title"] = "PI Chart Data";
}

<div class="row text-primary">
    <h2>PI Data</h2>
</div>
<div class="row bg-light">
    <div class="form-group col-sm-6 col-md-6 col-lg-6 pt-2">
        <label >PI Value</label>
        <span class="custom-form-control form-control text-dark ">
            @Model.PiChartDataViewModel.PIValue
        </span>
    </div>
    <div class="form-group col-sm-6 col-md-6 col-lg-6 pt-2">
        <label >QTY</label>
        <span class="custom-form-control form-control text-dark ">
            @Model.PiChartDataViewModel.PIQty
        </span>
    </div>
</div>