
@model RndYarnRequisitionViewModel

<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.RND_PURCHASE_REQUISITION_MASTER.ORDER_NONavigation.SO.PIMASTER.PINO" class="control-label"></label>
        <input asp-for="FysIndentDetails.RND_PURCHASE_REQUISITION_MASTER.ORDER_NONavigation.SO.PIMASTER.PINO" class="form-control" disabled />
        <span asp-validation-for="FysIndentDetails.RND_PURCHASE_REQUISITION_MASTER.ORDER_NONavigation.SO.PIMASTER.PINO" class="text-danger"></span>
    </div>
</div>
<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.RND_PURCHASE_REQUISITION_MASTER.ORDER_NONavigation.SO.PIMASTER.PIDATE" class="control-label"></label>
        <input asp-for="FysIndentDetails.RND_PURCHASE_REQUISITION_MASTER.ORDER_NONavigation.SO.PIMASTER.PIDATE" class="form-control" disabled />
        <span asp-validation-for="FysIndentDetails.RND_PURCHASE_REQUISITION_MASTER.ORDER_NONavigation.SO.PIMASTER.PIDATE" class="text-danger"></span>
    </div>
</div>
<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.RND_PURCHASE_REQUISITION_MASTER.EMP.FIRST_NAME" class="control-label">Ref. Person</label>
        <input asp-for="FysIndentDetails.RND_PURCHASE_REQUISITION_MASTER.EMP.FIRST_NAME" class="form-control" disabled />
        <span asp-validation-for="FysIndentDetails.RND_PURCHASE_REQUISITION_MASTER.EMP.FIRST_NAME" class="text-danger"></span>
    </div>
</div>
<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.RND_PURCHASE_REQUISITION_MASTER.ORDERNO_SNavigation.BUYER.BUYER_NAME" class="control-label"></label>
        <input asp-for="FysIndentDetails.RND_PURCHASE_REQUISITION_MASTER.ORDERNO_SNavigation.BUYER.BUYER_NAME" class="form-control" disabled />
        <span asp-validation-for="FysIndentDetails.RND_PURCHASE_REQUISITION_MASTER.ORDERNO_SNavigation.BUYER.BUYER_NAME" class="text-danger"></span>
    </div>
</div>
<div class="col-3">
    <div class="form-group">
        <label asp-for="FysIndentDetails.RND_PURCHASE_REQUISITION_MASTER.ORDERNO_SNavigation.BUYER.ADDRESS" class="control-label"></label>
        <input asp-for="FysIndentDetails.RND_PURCHASE_REQUISITION_MASTER.ORDERNO_SNavigation.BUYER.ADDRESS" class="form-control" disabled />
        <span asp-validation-for="FysIndentDetails.RND_PURCHASE_REQUISITION_MASTER.ORDERNO_SNavigation.BUYER.ADDRESS" class="text-danger"></span>
    </div>
</div>