
@using DevExpress.AspNetCore
@using DenimERP.Views.FSampleGarmentRcvM.Reports
@using rptSampleHandTag = DenimERP.Views.FSampleGarmentRcvM.Reports.rptSampleHandTag
@model string

@{
    ViewData["Title"] = "Factory Sample Hand Tag";
    Layout = Layout;
}

<h2>Factory Sample Hand Tag</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptSampleHandTag(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}