
@using DevExpress.AspNetCore
@using DenimERP.Views.FSampleGarmentRcvM.Reports
@using rptSampleSticker = DenimERP.Views.FSampleGarmentRcvM.Reports.rptSampleSticker
@model string

@{
    ViewData["Title"] = "Factory Sample Sticker";
    Layout = Layout;
}

<h2>Factory Sample Sticker</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptSampleSticker(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}