@model FBasSubSectionViewModel

@{
    ViewData["Title"] = "EditEmpSubSection";
    Layout = Layout;
}


<h2><i class="fa fa-edit fa-lg text-warning" aria-hidden="true"></i> Update Section</h2>

<hr />
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <form asp-action="EditEmpSubSection">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(c => c.FBasSubSection.SSECID)
            @Html.HiddenFor(c => c.FBasSubSection.EncryptedId)
            <div class="form-group">
                <label asp-for="FBasSubSection.SSECNAME" class="control-label"></label>
                <input asp-for="FBasSubSection.SSECNAME" class="form-control" />
                <span asp-validation-for="FBasSubSection.SSECNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FBasSubSection.SECID" class="control-label"></label>
                @Html.DropDownListFor(c => c.FBasSubSection.SECID, new SelectList(Model.FBasSections, "SECID", "SECNAME"), "Select Section", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                <span asp-validation-for="FBasSubSection.SECID" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="FBasSubSection.OPN1" class="control-label"></label>
                <input asp-for="FBasSubSection.OPN1" class="form-control" />
                <span asp-validation-for="FBasSubSection.OPN1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FBasSubSection.OPN2" class="control-label"></label>
                <input asp-for="FBasSubSection.OPN2" class="form-control" />
                <span asp-validation-for="FBasSubSection.OPN2" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="FBasSubSection.REMARKS" class="control-label"></label>
                <input asp-for="FBasSubSection.REMARKS" class="form-control" />
                <span asp-validation-for="FBasSubSection.REMARKS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="GetEmpSubSection" class="btn btn-dark">Back to List</a>
                <input type="submit" value="Update" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

