@model FGsWastageIssueViewModel

@{
    ViewData["Title"] = "Wastage Issue Information";
    Layout = Layout;
}

<h2><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i> Create @ViewData["Title"]</h2>

<div class="container-fluid">
    <form id="form" role="form" asp-action="CreateFGsWastageIssueInfo">
        <div class="panel-body row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageIssueM.WIDATE" class="control-label"></label>
                        <input asp-for="FGsWastageIssueM.WIDATE" type="date" class="form-control" id="datePick" />
                        <span asp-validation-for="FGsWastageIssueM.WIDATE" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageIssueM.PID" class="control-label"></label>
                        @Html.DropDownListFor(c => c.FGsWastageIssueM.PID, new SelectList(Model.FGsWastagePartyList, "PID", "PNAME"), "Select Party Name", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FGsWastageIssueM.PID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageIssueM.GPNO" class="control-label"></label>
                        <input asp-for="FGsWastageIssueM.GPNO" class="form-control" />
                        <span asp-validation-for="FGsWastageIssueM.GPNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageIssueM.GPDATE" class="control-label"></label>
                        <input asp-for="FGsWastageIssueM.GPDATE" type="date" class="form-control" id="datePick" />
                        <span asp-validation-for="FGsWastageIssueM.GPDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageIssueM.VEHICLENO" class="control-label"></label>
                        <input asp-for="FGsWastageIssueM.VEHICLENO" class="form-control" />
                        <span asp-validation-for="FGsWastageIssueM.VEHICLENO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageIssueM.THROUGH" class="control-label"></label>
                        <input asp-for="FGsWastageIssueM.THROUGH" class="form-control" />
                        <span asp-validation-for="FGsWastageIssueM.THROUGH" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageIssueM.REMARKS" class="control-label"></label>
                        <input asp-for="FGsWastageIssueM.REMARKS" class="form-control" />
                        <span asp-validation-for="FGsWastageIssueM.REMARKS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success"><i class="fa fa-adjust" aria-hidden="true"></i> Wastage Issue Details</h2>
                    <hr />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageIssueD.WPID" class="control-label"></label>
                        @Html.DropDownListFor(c => c.FGsWastageIssueD.WPID, new SelectList(Model.FWasteProductList, "WPID", "PRODUCT_NAME"), "Select Product", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FGsWastageIssueD.WPID" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Unit </label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="unitId">
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageIssueD.TRNSDATE" class="control-label"></label>
                        <input asp-for="FGsWastageIssueD.TRNSDATE" type="date" class="form-control" id="datePick" />
                        <span asp-validation-for="FGsWastageIssueD.TRNSDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageIssueD.ISSUE_QTY" class="control-label"></label>
                        <input asp-for="FGsWastageIssueD.ISSUE_QTY" class="form-control" />
                        <span asp-validation-for="FGsWastageIssueD.ISSUE_QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageIssueD.REMARKS" class="control-label"></label>
                        <input asp-for="FGsWastageIssueD.REMARKS" class="form-control" />
                        <span asp-validation-for="FGsWastageIssueD.REMARKS" class="text-danger"></span>
                    </div>
                </div>

            </div>




            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row" id="AttachTo">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button asp-action="CreateFGsWastageIssueInfo" id="btnCreateLoan" class="btn btn-success nextBtn pull-right" type="submit">Create</button>
                    <button id="addToListBtn" class="btn btn-info pull-right mr-2" type="button">Add to List</button>
                    <a asp-action="GetFGsWastageIssueInfo" class="btn btn-dark pull-right">Back to List</a>

                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive table-hover" id="FGsWastageIssueTable"></div>

            @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive" id="prodDetails">
                    @await Html.PartialAsync($"~/Views/FPrWeavingProduction/AddProductionList.cshtml", Model)
                </div>*@
        </div>

    </form>
</div>

@section Styles {
    <link asp-append-version="true" href="~/css/CustomCSS/Stepper.css" rel="stylesheet" />

}

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/js/custom-js/Stepper.js"></script>
    <script asp-append-version="true" src="~/js/site-common.js"></script>
    <script asp-append-version="true" src="~/js/FGsWastageIssue/CreateFGsWastageIssueInfo.js"></script>
}

