<div class="row">
    <a asp-action="RBillOfExchange1" asp-controller="ComExInvoiceMaster" class="btn btn-outline-primary col" target="_blank"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Bill of Exchange - 1</a>
    <a asp-action="RBillOfExchange2" asp-controller="ComExInvoiceMaster" class="btn btn-outline-primary col" target="_blank"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Bill of Exchange - 2</a>
    <div class="w-100"></div>
    <a asp-action="RComExInvoiceMasterDeliveryChallan" asp-controller="ComExInvoiceMaster" class="btn btn-outline-primary col" target="_blank"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Delivery (Challan)</a>
    <a asp-action="RComExInvoiceMasterTruckReceipt" asp-controller="ComExInvoiceMaster" class="btn btn-outline-primary col" target="_blank"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Truck (Challan)</a>
    <div class="w-100"></div>
    <a asp-action="RComExInvoice" asp-controller="ComExInvoiceMaster" class="btn btn-outline-primary col" target="_blank"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Invoice</a>
    <a asp-action="RComExInvoiceMasterPackingList" asp-controller="ComExInvoiceMaster" class="btn btn-outline-primary col" target="_blank"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Packing List (Local)</a>
    <div class="w-100"></div>
    <a asp-action="RForeignComExInvoiceMasterPackingList" asp-controller="ComExInvoiceMaster" class="btn btn-outline-primary col" target="_blank"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Packing List (Foreign)</a>
    <a asp-action="RWeightMeasurement" asp-controller="ComExInvoiceMaster" class="btn btn-outline-primary col" target="_blank"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Weight & Measurement</a>
    <div class="w-100"></div>
    <a asp-action="RBeneficiaryCertificate" asp-controller="ComExInvoiceMaster" class="btn btn-outline-primary col" target="_blank"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Bene. Certificate</a>
    <a asp-action="RCertificateOfOrigin" asp-controller="ComExInvoiceMaster" class="btn btn-outline-primary col" target="_blank"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Certificate of Origin</a>
    <div class="w-100"></div>
    <a href="#" class="btn btn-outline-danger col"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Pre-Ship.Inspc (App.)</a>
    <a asp-action="RPreShipmentInspectionBeni" asp-controller="ComExInvoiceMaster" class="btn btn-outline-primary col" target="_blank"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Pre-Ship.Inspc (Beni.)</a>
    <div class="w-100"></div>
    <a href="#" class="btn btn-outline-danger col"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Non-Uzbek Cotton Certificate</a>
    <a href="#" class="btn btn-outline-danger col"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Acknowledgement</a>
    <div class="w-100"></div>
    <a asp-action="RForwarding" asp-controller="ComExInvoiceMaster" class="btn btn-outline-primary col" target="_blank"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Forwarding</a>
</div>
