
@using DevExpress.AspNetCore
@using DenimERP.Views.ComExInvoiceMaster.Reports.Foreign
@using RBillOfExchange2 = DenimERP.Views.ComExInvoiceMaster.Reports.Foreign.RBillOfExchange2
@model string

@{
    ViewData["Title"] = "Bill Of Exchange 2";
}

<h2>Report @ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new RBillOfExchange2(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}