
@using DevExpress.AspNetCore
@using DenimERP.Views.ComExInvoiceMaster.Reports
@using RCertificateOfOrigin = DenimERP.Views.ComExInvoiceMaster.Reports.RCertificateOfOrigin
@model string

@{
    ViewData["Title"] = "Certificate of Origin";
}

<h2>Report @ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new RCertificateOfOrigin(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}