
@using DevExpress.AspNetCore
@using DenimERP.Views.ComExInvoiceMaster.Reports
@using RComExInvoiceMasterPackingList = DenimERP.Views.ComExInvoiceMaster.Reports.RComExInvoiceMasterPackingList
@model string 

@{
    ViewData["Title"] = "Packing List (Invoice)";
}

<h2>Report @ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new RComExInvoiceMasterPackingList(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}