
@using DevExpress.AspNetCore
@using DenimERP.Views.ComExInvoiceMaster.Reports
@using RComExInvoice = DenimERP.Views.ComExInvoiceMaster.Reports.RComExInvoice

@model string

@{
    ViewData["Title"] = "Commercial Export Invoice";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Reports</li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-action="RComExInvoice" asp-controller="ComExInvoiceMaster">@ViewData["Title"]</a></li>
    </ol>
</nav>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new RComExInvoice(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}
