
@using DevExpress.AspNetCore
@using DenimERP.Views.ComExInvoiceMaster.Reports
@using RSubmissionOfShipping = DenimERP.Views.ComExInvoiceMaster.Reports.RSubmissionOfShipping

@{
    ViewData["Title"] = "Submission Of Shipping";
}

<h2>Submission Of Shipping</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new RSubmissionOfShipping())
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}