@model BAS_YARN_CATEGORY

@{
    ViewData["Title"] = "Create Yarn Category";
    Layout = Layout;
}

<h2><i class="fa fa-lg fa-plus-circle text-success" aria-hidden="true"></i> Create Yarn Category</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBasYarnCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="YARN_CODE" class="control-label"></label>
                <input asp-for="YARN_CODE" class="form-control" type="text" />
                <span asp-validation-for="YARN_CODE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CATEGORY_NAME" class="control-label"></label>
                <input asp-for="CATEGORY_NAME" class="form-control" />
                <span asp-validation-for="CATEGORY_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REMARKS" class="control-label"></label>
                <input asp-for="REMARKS" class="form-control" />
                <span asp-validation-for="REMARKS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="GetBasYarnCategoryList" class="btn btn-dark" accesskey="b">Back to List</a>
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptPartial_Except_jQuery");}
    <script>
        $(function () {

            $('#form').submit(function () {
                $(this).find(':submit').attr('disabled', 'disabled');
            });
        })
    </script>
}
