@model FFsFabricLoadingBillViewModel

@{
    ViewData["Title"] = "Fabric Loading Bill Information";
}

<h5><i class="fa fa-xing fa-lg text-success" aria-hidden="true"></i>Update @ViewData["Title"]</h5>
<hr />

<div class="container-fluid">
    <form id="form" role="form" asp-action="EditFFsFabricLoadingBillInfo">
        @Html.HiddenFor(d => d.FFsFabricLoadingBill.EncryptedId)
        <div class="panel-body row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FFsFabricLoadingBill.TRANSDATE" class="control-label"></label>
                        <input asp-for="FFsFabricLoadingBill.TRANSDATE" type="date" class="form-control" id="datePick" />
                        <span asp-validation-for="FFsFabricLoadingBill.TRANSDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FFsFabricLoadingBill.BILL_NO" class="control-label"></label>
                        <input asp-for="FFsFabricLoadingBill.BILL_NO" class="form-control" />
                        <span asp-validation-for="FFsFabricLoadingBill.BILL_NO" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FFsFabricLoadingBill.VEHICLE_ID" class="control-label"></label>

                        @Html.DropDownListFor(c => c.FFsFabricLoadingBill.VEHICLE_ID, new SelectList(Model.VehicleList, "VID", "VNUMBER"), "Select a Vehicle", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FFsFabricLoadingBill.VEHICLE_ID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FFsFabricLoadingBill.OPT1" class="control-label"></label>       @*other vehicle*@
                        <input asp-for="FFsFabricLoadingBill.OPT1" class="form-control text-uppercase" />
                        <span asp-validation-for="FFsFabricLoadingBill.OPT1" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FFsFabricLoadingBill.START_TIME" class="control-label"></label>
                        <input asp-for="FFsFabricLoadingBill.START_TIME" class="form-control" id="stTime" />
                        <span asp-validation-for="FFsFabricLoadingBill.START_TIME" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FFsFabricLoadingBill.END_TIME" class="control-label"></label>
                        <input asp-for="FFsFabricLoadingBill.END_TIME" class="form-control" id="endTime" />
                        <span asp-validation-for="FFsFabricLoadingBill.END_TIME" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FFsFabricLoadingBill.TOTAL_TIME" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="FFsFabricLoadingBill.TOTAL_TIME" class="form-control" readonly="readonly" />
                            <div class="input-group-append">
                                <span class="input-group-text">Hrs</span>
                            </div>
                            <span asp-validation-for="FFsFabricLoadingBill.TOTAL_TIME" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FFsFabricLoadingBill.ROLL_QTY" class="control-label"></label>
                        <input asp-for="FFsFabricLoadingBill.ROLL_QTY" class="form-control" />
                        <span asp-validation-for="FFsFabricLoadingBill.ROLL_QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FFsFabricLoadingBill.RATE" class="control-label"></label>
                        <input asp-for="FFsFabricLoadingBill.RATE" class="form-control" />
                        <span asp-validation-for="FFsFabricLoadingBill.RATE" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FFsFabricLoadingBill.REMARKS" class="control-label"></label>
                        <input asp-for="FFsFabricLoadingBill.REMARKS" class="form-control" />
                        <span asp-validation-for="FFsFabricLoadingBill.REMARKS" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-warning pull-right" type="submit">Update</button>
                <a asp-action="CreateFFsFabricLoadingBillInfo" class="btn btn-dark pull-right">Back to List</a>
            </div>
            @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive table-hover">
                @await Html.PartialAsync($"~/Views/FFsFabricLoadingBill/GetFFsFabricLoadingBillInfo.cshtml", Model.FFsFabricLoadingBill)
            </div>*@
        </div>
    </form>
</div>

@section Scripts {
    <script asp-append-version="true" src="~/js/FFsFabricLoadingBill/EditFFsFabricLoadingBillInfo.js"></script>
}