@model BAS_YARN_LOTINFO

@{
    ViewData["Title"] = "EditBasYarnLotinfo";
    Layout = Layout;
}

<h2>Edit basic yarn lot info</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBasYarnLotinfo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(yl => yl.LOTID)
            @Html.HiddenFor(yl => yl.EncryptedId)
            <div class="form-group">
                <label asp-for="LOTNO" class="control-label"></label>
                <input asp-for="LOTNO" class="form-control" />
                <span asp-validation-for="LOTNO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BRAND" class="control-label"></label>
                <input asp-for="BRAND" class="form-control" />
                <span asp-validation-for="BRAND" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SLABCODE" class="control-label"></label>
                <input asp-for="SLABCODE" class="form-control" />
                <span asp-validation-for="SLABCODE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REMARKS" class="control-label"></label>
                <input asp-for="REMARKS" class="form-control" />
                <span asp-validation-for="REMARKS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-dark" asp-action="GetBasYarnLotInfoWithPaged" asp-controller="BasYarnLotInfo" accesskey="b">Back to List</a>
                <input type="submit" value="Update" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {

    <script>
        $(function () {

            $('#form').submit(function () {
                $(this).find(':submit').attr('disabled', 'disabled');
            });
        })
    </script>
}