@model F_BAS_DESIGNATION

@{
    ViewData["Title"] = "Create Employee Designation";
    Layout = Layout;
}

<h2><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i> Create Designation</h2>

<hr />
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <form asp-action="CreateEmpDesignation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DESNAME" class="control-label"></label>
                <input asp-for="DESNAME" class="form-control" />
                <span asp-validation-for="DESNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REMARKS" class="control-label"></label>
                <input asp-for="REMARKS" class="form-control" />
                <span asp-validation-for="REMARKS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="GetEmpDesignation" class="btn btn-dark">Back to List</a>
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
}
