@model COS_CERTIFICATION_COST

@{
    ViewData["Title"] = "Create Certification Cost";
    Layout = Layout;
}

<h2><i class="fa fa-plus-circle text-success" aria-hidden="true"></i> Add Certification Cost</h2>
<hr />
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <form asp-action="CreateCosCertificationCost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DESCRIPTION" class="control-label"></label>
                <input asp-for="DESCRIPTION" class="form-control" />
                <span asp-validation-for="DESCRIPTION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VALUE" class="control-label"></label>
                <input asp-for="VALUE" class="form-control" />
                <span asp-validation-for="VALUE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REMARKS" class="control-label"></label>
                <input asp-for="REMARKS" class="form-control" />
                <span asp-validation-for="REMARKS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="GetCosCertificationCost" class="btn btn-dark">Back to List</a>
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>