@model F_YS_RAW_PER

@{
    ViewData["Title"] = " RAW Percentage Information";
    Layout = Layout;
}

<h2><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i> Create @ViewData["Title"]</h2>

<div class="container-fluid">
    <form id="form" role="form" asp-action="CreateYsRawPer">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="RAWPER" class="control-label"></label>
                    <input asp-for="RAWPER" type="" class="form-control" id="" />
                    <span asp-validation-for="RAWPER" class="text-danger"></span>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="REMARKS" class="control-label"></label>
                        <input asp-for="REMARKS" type="" class="form-control" id="" />
                        <span asp-validation-for="REMARKS" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row" id="AttachTo">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button asp-action="CreateYsRawPer" id="btnCreateLoan" class="btn btn-success nextBtn pull-right" type="submit">Create</button>
                    <a asp-action="GetYsRawPerList" class="btn btn-dark pull-right">Back to List</a>

                </div>

            </div>

    </form>
</div>



