
@using DevExpress.AspNetCore
@using DenimERP.Reports.Sample.Bay
@using rptSampleFabricGatePass = DenimERP.Reports.Sample.Bay.rptSampleFabricGatePass
@model int

@{
    ViewData["Title"] = "Sample Fabric Gate Pass";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Reports</li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-action="RSampleFabricBayDispatch" asp-controller="FSampleFabricDispatchMaster"></a>@ViewData["Title"]</li>
    </ol>
</nav>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptSampleFabricGatePass(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}