@model FGsWastageReceiveViewModel

@{
    ViewData["Title"] = "Wastage Receive Information";
    Layout = Layout;
}

<h2><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i> Create @ViewData["Title"]</h2>

<div class="container-fluid">
    <form id="form" role="form" asp-action="CreateFGsWastageReceiveInfo">
        <div class="panel-body row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageReceiveM.WRDATE" class="control-label"></label>
                        <input asp-for="FGsWastageReceiveM.WRDATE" type="date" class="form-control" id="datePick" />
                        <span asp-validation-for="FGsWastageReceiveM.WRDATE" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageReceiveM.SECID" class="control-label"></label>
                        @Html.DropDownListFor(c => c.FGsWastageReceiveM.SECID, new SelectList(Model.SectionList, "SECID", "SECNAME"), "Select Section", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FGsWastageReceiveM.SECID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageReceiveM.WTRNO" class="control-label"></label>
                        <input asp-for="FGsWastageReceiveM.WTRNO" class="form-control" />
                        <span asp-validation-for="FGsWastageReceiveM.WTRNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageReceiveM.WTRDATE" class="control-label"></label>
                        <input asp-for="FGsWastageReceiveM.WTRDATE" type="date" class="form-control" id="datePick" />
                        <span asp-validation-for="FGsWastageReceiveM.WTRDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageReceiveM.REMARKS" class="control-label"></label>
                        <input asp-for="FGsWastageReceiveM.REMARKS" class="form-control" />
                        <span asp-validation-for="FGsWastageReceiveM.REMARKS" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="panel-title text-success"><i class="fa fa-adjust" aria-hidden="true"></i> Wastage Receive Details</h2>
                    <hr />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageReceiveD.WPID" class="control-label"></label>
                        @Html.DropDownListFor(c => c.FGsWastageReceiveD.WPID, new SelectList(Model.WasteProductList, "WPID", "PRODUCT_NAME"), "Select Product", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="FGsWastageReceiveD.WPID" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Unit </label>
                        <span class="custom-form-control-bg form-control bg-e9ecef" id="unitId">
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageReceiveD.TRNSDATE" class="control-label"></label>
                        <input asp-for="FGsWastageReceiveD.TRNSDATE" type="date" class="form-control" id="datePick" />
                        <span asp-validation-for="FGsWastageReceiveD.TRNSDATE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageReceiveD.RCV_QTY" class="control-label"></label>
                        <input asp-for="FGsWastageReceiveD.RCV_QTY" class="form-control" />
                        <span asp-validation-for="FGsWastageReceiveD.RCV_QTY" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="FGsWastageReceiveD.REMARKS" class="control-label"></label>
                        <input asp-for="FGsWastageReceiveD.REMARKS" class="form-control" />
                        <span asp-validation-for="FGsWastageReceiveD.REMARKS" class="text-danger"></span>
                    </div>
                </div>

            </div>




            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row" id="AttachTo">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button asp-action="CreateFGsWastageReceiveInfo" id="btnCreateLoan" class="btn btn-success nextBtn pull-right" type="submit">Create</button>
                    <button id="addToListBtn" class="btn btn-info pull-right mr-2" type="button">Add to List</button>
                    <a asp-action="GetFGsWastageReceiveInfo" class="btn btn-dark pull-right">Back to List</a>

                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive table-hover" id="FGsWastageRcvTable"></div>
        </div>

    </form>
</div>

@section Styles {
    <link asp-append-version="true" href="~/css/CustomCSS/Stepper.css" rel="stylesheet" />

}

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
    <script asp-append-version="true" src="~/js/custom-js/Stepper.js"></script>
    <script asp-append-version="true" src="~/js/site-common.js"></script>
    <script asp-append-version="true" src="~/js/FGsWastageReceive/CreateFGsWastageReceiveInfo.js"></script>
}

