@model FPrWeavingWorkLoadEfficiencyLossViewModel

@{
    ViewData["Title"] = "Weaving Work Load & Efficiency Loss Information";
    Layout = Layout;
}

<h2><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i> Create @ViewData["Title"]</h2>

<div class="container-fluid">
    <form id="form" role="form" asp-action="CreateFPrWeavingWorkLoadEfficiencyLoss">
        <div class="panel panel-default setup-content" id="step-1">
            <div class="panel-body row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.OP1" class="control-label"></label>
                            <select asp-for="FPrWeavingWorkloadEfficienceloss.OP1" class="form-control js-example-basic-single">
                                <option value="" selected="selected">Select Shift</option>
                                <option value="2">A</option>
                                <option value="3">B</option>
                                <option value="4">C</option>
                            </select>
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.OP1" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.SHIFT_DATE" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.SHIFT_DATE" type="date" class="form-control" id="datePick" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.SHIFT_DATE" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.SIEMPID" class="control-label"></label>

                            @Html.DropDownListFor(c => c.FPrWeavingWorkloadEfficienceloss.SIEMPID, new SelectList(Model.EmployeeList, "EMPID", "FIRST_NAME"), "Select Employee Name", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.SIEMPID" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.LOOMID" class="control-label"></label>

                            @Html.DropDownListFor(c => c.FPrWeavingWorkloadEfficienceloss.LOOMID, new SelectList(Model.LoomTypeList, "LOOMID", "LOOM_TYPE_NAME"), "Select Loom Type", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.LOOMID" class="text-danger"></span>
                        </div>
                    </div>

                </div>



                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div>
                            <h2 class="panel-title text-success">Weaving Work Load</h2>
                        </div>
                        <hr />
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.KNOTTING" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.KNOTTING" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.KNOTTING" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.NEWRUN" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.NEWRUN" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.NEWRUN" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.PENDING" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.PENDING" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.PENDING" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.RE_KNOTTING" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.RE_KNOTTING" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.RE_KNOTTING" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.CAM_CHANGE" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.CAM_CHANGE" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.CAM_CHANGE" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.ARTICLE_CHANGE" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.ARTICLE_CHANGE" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.ARTICLE_CHANGE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.REED_CHANGE" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.REED_CHANGE" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.REED_CHANGE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.PATTERN_CHANGE" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.PATTERN_CHANGE" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.PATTERN_CHANGE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.EXTRA_WARP_INSERTION" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.EXTRA_WARP_INSERTION" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.EXTRA_WARP_INSERTION" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.EXTRA_WARP_OUT" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.EXTRA_WARP_OUT" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.EXTRA_WARP_OUT" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div>
                            <h2 class="panel-title text-success"> Efficiency Loss / Downtime (Hours)</h2>
                        </div>
                        <hr />
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.BEAM_SHORT" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.BEAM_SHORT" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.BEAM_SHORT" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.YARN_SHORT" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.YARN_SHORT" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.YARN_SHORT" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.MECHANICAL_WORK" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.MECHANICAL_WORK" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.MECHANICAL_WORK" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.ELECTRICAL_WORK" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.ELECTRICAL_WORK" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.ELECTRICAL_WORK" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.COMPRESSOR_WORK" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.COMPRESSOR_WORK" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.COMPRESSOR_WORK" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.QA_HOLD" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.QA_HOLD" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.QA_HOLD" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.QA_STOP" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.QA_STOP" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.QA_STOP" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.RND_STOP" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.RND_STOP" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.RND_STOP" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.OTHER_STOP" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.OTHER_STOP" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.OTHER_STOP" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.YARN_SHORT" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.YARN_SHORT" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.YARN_SHORT" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.KNOTTING_GAITING" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.KNOTTING_GAITING" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.KNOTTING_GAITING" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.BREAKAGES" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.BREAKAGES" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.BREAKAGES" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FPrWeavingWorkloadEfficienceloss.REMARKS" class="control-label"></label>
                            <input asp-for="FPrWeavingWorkloadEfficienceloss.REMARKS" type="" class="form-control" id="" />
                            <span asp-validation-for="FPrWeavingWorkloadEfficienceloss.REMARKS" class="text-danger"></span>
                        </div>
                    </div>
                </div>


            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row" id="AttachTo">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button asp-action="CreateFPrWeavingWorkLoadEfficiencyLoss" id="btnCreateLoan" class="btn btn-success nextBtn pull-right" type="submit">Create</button>
                    <button id="addToList" class="btn btn-info pull-right mr-2" type="button">Add to List</button>
                    <a asp-action="GetFPrWeavingWorkLoadEfficiencyLoss" class="btn btn-dark pull-right">Back to List</a>

                </div>
            </div>
        </div>
    </form>
</div>





@section Scripts {

    <script type="text/javascript" asp-append-version="true">

        $(function () {
            $("#FPrWeavingProduction_TRNSID").on('change', function () {
                var selectedId = $(this).val();
                $.ajax({
                    async: true,
                    cache: false,
                    data: { "id": $("#FPrWeavingProduction_TRNSID").val() },
                    type: "GET",
                    url: '/FPrWeavingProduction/GetStyleInfoBySo',
                    success: function (data) {
                        console.log(data);
                        //$('#').html(data);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });
        });

    </script>


}

