@using DevExpress.AspNetCore
@using DenimERP.Views.FPrInspectionProcess.Reports
@using rptRollInformation_local = DenimERP.Views.FPrInspectionProcess.Reports.rptRollInformation_local
@model string

@{
    ViewData["Title"] = "Roll Sticker";
    Layout = Layout;
}
<h2>Roll Sticker</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptRollInformation_local(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}