@using DevExpress.AspNetCore
@using DenimERP.Views.CosPreCostingMaster.Reports
@using rptPreCosting = DenimERP.Views.CosPreCostingMaster.Reports.rptPreCosting
@model int

@{
    ViewData["Title"] = "Pre-Costing Sheet";
    Layout = Layout;
}
    <h2>Pre-Costing Sheet</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptPreCosting(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}