
@{
    ViewData["Title"] = "Access Denied";
    Layout = Layout;
}

<div class="col-md-12">
    <div class="col-middle">
        <div class="text-center text-center">
            <h1 class="error-number text-danger">403</h1>
            <h1 class="text-danger">Access Denied</h1>
            <h6 class="text-danger">You do not have permission to view this resource.</h6>
            <img src="~/images/noaccess.png" style="height:300px; width:300px" />
        </div>
    </div>
</div>