
@model ApplicationUser

@{
    ViewData["Title"] = "All Users";
    Layout = Layout;
}

<div class="x_panel">
    <div class="x_title">
        <h2>
            <i class="fa fa-users fa-lg text-info"></i> List <i class="fa fa-at text-info">Users</i>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="mr-4">
                <p>
                    <a asp-controller="Account" asp-action="Register" class="btn btn-primary"><i class="fa fa-user" aria-hidden="true"></i> Register </a>
                    <a asp-controller="Account" asp-action="ManualRegistration" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Manual Register </a>
                </p>
            </li>
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content table-responsive table-hover">
        <table class="table table-hover" id="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayName("Action")
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Styles
{
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="~/js/Administrator/ListUsers.js" asp-append-version="true"></script>
}