@model BasSeasonViewModel

@{
    ViewData["Title"] = "Bas Season";
    Layout = Layout;
}

<h2><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i> Create @ViewData["Title"]</h2>

<div class="container-fluid">
    <form id="form" role="form" asp-action="CreateBasSeason">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="basSeason.SNAME" class="control-label"></label>
                        <input asp-for="basSeason.SNAME" type="text" class="form-control" />
                        <span asp-validation-for="basSeason.SNAME" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="basSeason.DESCRIPTION" class="control-label"></label>
                        <input asp-for="basSeason.DESCRIPTION" type="text" class="form-control" id="" />
                        <span asp-validation-for="basSeason.DESCRIPTION" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row" id="AttachTo">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button asp-action="CreateBasSeason" id="btnCreateLoan" class="btn btn-success nextBtn pull-right" type="submit">Create</button>
                    <a asp-action="GetBasSeason" class="btn btn-dark pull-right">Back to List</a>

                </div>

            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
}
