@model FBasVehicleInfoViewModel

@{
    ViewData["Title"] = "Vehicle Information";
    Layout = Layout;
}

<h2><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i> Create @ViewData["Title"]</h2>

<div class="container-fluid">
    <form id="form" role="form" asp-action="CreateFBasVehicleInfo">
        <div class="panel-body row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="VehicleInfo.VNUMBER" class="control-label"></label>
                        <input asp-for="VehicleInfo.VNUMBER" class="form-control" />
                        <span asp-validation-for="VehicleInfo.VNUMBER" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 ">
                    <div class="form-group">
                        <label asp-for="VehicleInfo.VDID" class="control-label"></label>

                        @Html.DropDownListFor(c => c.VehicleInfo.VDID, new SelectList(Model.DriverList, "DRID", "DRIVER_NAME"), "Select Driver", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="VehicleInfo.VDID" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 ">
                    <div class="form-group">
                        <label asp-for="VehicleInfo.VEHICLE_TYPE" class="control-label"></label>

                        @Html.DropDownListFor(c => c.VehicleInfo.VEHICLE_TYPE, new SelectList(Model.VehicleTypeList, "ID", "TYPE_NAME"), "Select Type", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="VehicleInfo.VEHICLE_TYPE" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="VehicleInfo.REMARKS" class="control-label"></label>
                        <input asp-for="VehicleInfo.REMARKS" class="form-control" />
                        <span asp-validation-for="VehicleInfo.REMARKS" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row" id="AttachTo">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button asp-action="CreateFBasVehicleInfo" class="btn btn-success pull-right" type="submit">Create</button>
                <a asp-action="GetFBasVehicleInfo" class="btn btn-dark pull-right">Back to List</a>

            </div>
        </div>
    </form>
</div>





@*@section Scripts {

    <script type="text/javascript" asp-append-version="true">

        $(function () {
            $("#FPrWeavingProduction_TRNSID").on('change', function () {
                var selectedId = $(this).val();
                $.ajax({
                    async: true,
                    cache: false,
                    data: { "id": $("#FPrWeavingProduction_TRNSID").val() },
                    type: "GET",
                    url: '/FPrWeavingProduction/GetStyleInfoBySo',
                    success: function (data) {
                        console.log(data);
                        //$('#').html(data);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });
        });

    </script>


}*@

