
@model COM_IMP_CSINFO

@{
    ViewData["Title"] = "CS Info";
    Layout = Layout;
}

<div class="x_panel">
    <div class="x_title">
        <h2>
            <i class="fa fa-list fa-lg text-info" aria-hidden="true"></i> CS Info
        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="mr-4">
                <p>
                    <a asp-action="CreateCsInfo" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</a>
                </p>
            </li>
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content table-responsive">
        <table class="table" id="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CSNO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CSDATE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IND.INDNO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.REMARKS)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Styles
{
    <link asp-append-version="true" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script asp-append-version="true" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script asp-append-version="true" src="~/js/comImpCsInfo/getCsInfo.js"></script>
}