.switch {
    position: relative;
    display: inline-block;
    width: 78px;
    height: 30px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dc3545;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        z-index: 2;
        content: "";
        height: 30.3px;
        width: 30.3px;
        left: 0;
        bottom: 0;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
        -webkit-transition: .4s;
        transition: all 0.4s ease-in-out;
    }

    .slider:after {
        position: absolute;
        left: 0;
        z-index: 1;
        content: "YES";
        font-size: 16px;
        text-align: left !important;
        line-height: 30px;
        padding-left: 0;
        width: 78px;
        color: #fff;
        height: 30px;
        border-radius: 30px;
        background-color: #26b99a;
        -webkit-transform: translateX(-48px);
        -ms-transform: translateX(-48px);
        transform: translateX(-48px);
        transition: all 0.4s ease-in-out;
    }

input:checked + .slider:after {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    /*width: 235px;*/
    padding-left: 7.5px;
}

input:checked + .slider:before {
    background-color: #fff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(48px);
    -ms-transform: translateX(48px);
    transform: translateX(48px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 100px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.absolute-no {
    position: absolute;
    left: 0;
    color: darkslategrey;
    text-align: right !important;
    font-size: 16px;
    width: calc(100% - 12px);
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    color: #fff;
}




/*Radio Toggle*/

.radio_toggle label {
    position: relative;
    cursor: pointer;
    color: #000;
    font-size: 13px;
}

.radio_toggle input[type="radio"] {
    position: absolute;
    right: 9000px;
}


.radio_toggle .toggle_r input[type="radio"] + .label-text:before {
    content: "\f204";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
    position: relative;
    top: .3rem;
}

.radio_toggle .toggle_r input[type="radio"]:checked + .label-text:before {
    content: "\f205";
    color: #16a085;
    animation: effect 250ms ease-in;
    font-size: 25px;
}

.radio_toggle .toggle_r input[type="radio"]:disabled + .label-text {
    color: #aaa;
}

.radio_toggle .toggle_r input[type="radio"]:disabled + .label-text:before {
        content: "\f204";
        color: #ccc;
    }



.radio_toggle input[type="checkbox"] {
    position: absolute;
    right: 9000px;
}


.radio_toggle .toggle_r input[type="checkbox"] + .label-text:before {
    content: "\f204";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
    position: relative;
    top: .3rem;
}

.radio_toggle .toggle_r input[type="checkbox"]:checked + .label-text:before {
    content: "\f205";
    color: #16a085;
    animation: effect 250ms ease-in;
    font-size: 25px;
}

.radio_toggle .toggle_r input[type="checkbox"]:disabled + .label-text {
    color: #aaa;
}

.radio_toggle .toggle_r input[type="checkbox"]:disabled + .label-text:before {
    content: "\f204";
    color: #ccc;
}