
@using DevExpress.AspNetCore
@using DenimERP.Views.AccExportDoMaster.Report
@using rptDOInformation_A = DenimERP.Views.AccExportDoMaster.Report.rptDOInformation_A
@model int

@{
    ViewData["Title"] = "DO (Export)";
}

<h2>Reports DO @ViewData["Title"]</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rptDOInformation_A(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}