@model YarnCountUpdateViewModel

@{
    ViewData["Title"] = "Yarn Count Update By Order No";
    Layout = Layout;
}

<h4 class="text-info"><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i> @ViewData["Title"]</h4>
<hr />

<div class="container-fluid">
    <form id="form" asp-action="UpdateCountNameByRnd">
        <div class="panel panel-default">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="panel-body">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="So_No" class="control-label"></label>
                        @Html.DropDownListFor(dy => dy.So_No, new SelectList(Model.PiDetailsList, "TRNSID", "SO_NO"), "Select Order No", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="So_No" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="Old_Count" class="control-label"></label>
                        <select asp-for="Old_Count" class="form-control js-example-basic-single">
                            <option value="">Select Old Count Name</option>
                        </select>
                        <span asp-validation-for="Old_Count" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="New_Count" class="control-label"></label>
                        @Html.DropDownListFor(dy => dy.New_Count, new SelectList(Model.BasYarnCountInfos, "COUNTID", "COUNTNAME"), "Select New Count Name", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                        <span asp-validation-for="New_Count" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
                    <button class="btn btn-warning" type="button" id="btn_count">Update Count</button>
                </div>
            </div>
        </div>
    </form>

</div>

@section Styles {
    <link href="~/css/CustomCSS/Stepper.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/custom-js/Stepper.js"></script>

    <script asp-append-version="true">
        $(function () {
            $("#btn_count").on("click", function () {
                $.ajax({
                    async: true,
                    cache: false,
                    data: $("#form").serialize(),
                    type: "POST",
                    url: "/CountUpdate/UpdateCountNameBySoNo",
                    success: function (data) {
                        if (data) {
                            toastrNotification("Successfully Update Count Name", "success");
                            getSoDetails($("#So_No").val());
                        } else {
                            toastrNotification("Failed to Update Count Name", "error");
                        }
                    },
                    error: function () {
                        console.log("failed to attach...");
                    }
                });
            });

            $("#So_No").on("change", function () {
                var selectedVal = $(this).val();
                getSoDetails(selectedVal);
            });
        });
        function getSoDetails(orderNo) {
            if (orderNo === "") {
                return false;
            }
            $.ajax({
                async: true,
                cache: false,
                data: { "orderNO": orderNo },
                type: "GET",
                url: "/RndProductionOrder/GetPoDetails",
                success: function (data) {
                    console.log(data);
                    if (data != null) {
                          setReturnDataBySo(data);
                    }
                },
                error: function () {
                    console.log("failed to attach...");
                }
            });
        }

        function setReturnDataBySo(data) {
            var oldCountId = $("#Old_Count");
            oldCountId.html('');
            oldCountId.append('<option value="" selected>Select Old Count Name</option>');
            $.each(data.rndFabricCountInfoViewModels, function (id, option) {
                oldCountId.append($('<option></option>').val(option.rndFabricCountinfo.trnsid).html(option.rndFabricCountinfo.count.countname));
            });
        }
    </script>
}