@model ProcBillMasterViewModel

@{
    ViewData["Title"] = "Proc Bill Information";
    Layout = Layout;
}

<h2><i class="fa fa-plus-circle fa-lg text-success" aria-hidden="true"></i> Create @ViewData["Title"]</h2>

<div class="container-fluid">
    <form id="form" role="form" asp-action="CreateProcBillMasterInfo">
        <div class="panel panel-default setup-content" id="step-1">
            <div class="panel-body row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PROC_BILL_MASTER.SOURCE" class="control-label"></label>
                            <select asp-for="PROC_BILL_MASTER.SOURCE" class="form-control js-example-basic-single">
                                <option value="" selected="selected">Select a Source</option>
                                <option value="Chemical Store">Chemical Store</option>
                                <option value="PDLF">PDLF</option>
                                <option value="Head Office">Head Office</option>
                            </select>
                            <span asp-validation-for="PROC_BILL_MASTER.SOURCE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PROC_BILL_MASTER.PAYMODE" class="control-label"></label>
                            <select asp-for="PROC_BILL_MASTER.PAYMODE" class="form-control js-example-basic-single">
                                <option value="" selected="selected">Selec a Paymode</option>
                                <option value="Credit">Credit</option>
                                <option value="Cash">Cash</option>
                            </select>
                            <span asp-validation-for="PROC_BILL_MASTER.PAYMODE" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PROC_BILL_MASTER.CHALLANID" class="control-label"></label>
                            @Html.DropDownListFor(c => c.PROC_BILL_MASTER.CHALLANID, new SelectList(Model.ChallanList, "GRCVID", "CHALLAN_NO"), "Select a Challan No.", new { @class = "form-control js-example-basic-single" })
                            <span asp-validation-for="PROC_BILL_MASTER.CHALLANID" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PROC_BILL_MASTER.BILLDATE" class="control-label"></label>
                            <input asp-for="PROC_BILL_MASTER.BILLDATE" type="date" class="form-control" id="datePick" />
                            <span asp-validation-for="PROC_BILL_MASTER.BILLDATE" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PROC_BILL_MASTER.BILLAMOUNT" class="control-label"></label>
                            <input asp-for="PROC_BILL_MASTER.BILLAMOUNT" type="" class="form-control" id="" />
                            <span asp-validation-for="PROC_BILL_MASTER.BILLAMOUNT" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PROC_BILL_MASTER.DISCOUUNT" class="control-label"></label>
                            <input asp-for="PROC_BILL_MASTER.DISCOUUNT" type="" class="form-control" id="" />
                            <span asp-validation-for="PROC_BILL_MASTER.DISCOUUNT" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PROC_BILL_MASTER.VAT" class="control-label"></label>
                            <input asp-for="PROC_BILL_MASTER.VAT" type="" class="form-control" id="" />
                            <span asp-validation-for="PROC_BILL_MASTER.VAT" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PROC_BILL_MASTER.CARRYING_COST" class="control-label"></label>
                            <input asp-for="PROC_BILL_MASTER.CARRYING_COST" type="" class="form-control" id="" />
                            <span asp-validation-for="PROC_BILL_MASTER.CARRYING_COST" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PROC_BILL_MASTER.OTHER_COST" class="control-label"></label>
                            <input asp-for="PROC_BILL_MASTER.OTHER_COST" type="" class="form-control" id="" />
                            <span asp-validation-for="PROC_BILL_MASTER.OTHER_COST" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PROC_BILL_MASTER.ACTBILL" class="control-label"></label>
                            <input asp-for="PROC_BILL_MASTER.ACTBILL" type="" class="form-control" id="" />
                            <span asp-validation-for="PROC_BILL_MASTER.ACTBILL" class="text-danger"></span>
                        </div>
                    </div>

                    @*<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label asp-for="PROC_BILL_MASTER.REMARKS" class="control-label"></label>
                <input asp-for="PROC_BILL_MASTER.REMARKS" type="" class="form-control" id="" />
                <span asp-validation-for="PROC_BILL_MASTER.REMARKS" class="text-danger"></span>
            </div>
        </div>*@

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 class="panel-title text-success"><i class="fa fa-eye" aria-hidden="true"></i> Bill Details</h2>
                        <hr />
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PROC_BILL_DETAILS.PRODID" class="control-label"></label>
                            @Html.DropDownListFor(c => c.PROC_BILL_DETAILS.PRODID, new SelectList(Model.ChallanList, "GRCVID", "CHALLAN_NO"), "Select a Challan No.", new { @class = "form-control js-example-basic-single" })
                            <span asp-validation-for="PROC_BILL_DETAILS.PRODID" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PROC_BILL_DETAILS.PRODUCT_NAME" class="control-label"></label>
                            <input asp-for="PROC_BILL_DETAILS.PRODUCT_NAME" class="form-control" readonly="" />
                            <span asp-validation-for="PROC_BILL_DETAILS.PRODUCT_NAME" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PROC_BILL_DETAILS.UNIT" class="control-label"></label>
                            <input asp-for="PROC_BILL_DETAILS.UNIT" class="form-control" readonly="" />
                            <span asp-validation-for="PROC_BILL_DETAILS.UNIT" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PROC_BILL_DETAILS.INDID" class="control-label"></label>
                            <input asp-for="PROC_BILL_DETAILS.INDID" class="form-control" readonly="" />
                            <span asp-validation-for="PROC_BILL_DETAILS.INDID" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PROC_BILL_DETAILS.QTY" class="control-label"></label>
                            <input asp-for="PROC_BILL_DETAILS.QTY" class="form-control" />
                            <span asp-validation-for="PROC_BILL_DETAILS.QTY" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PROC_BILL_DETAILS.RATE" class="control-label"></label>
                            <input asp-for="PROC_BILL_DETAILS.RATE" class="form-control" />
                            <span asp-validation-for="PROC_BILL_DETAILS.RATE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PROC_BILL_DETAILS.AMOUNT" class="control-label"></label>
                            <input asp-for="PROC_BILL_DETAILS.AMOUNT" class="form-control" />
                            <span asp-validation-for="PROC_BILL_DETAILS.AMOUNT" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PROC_BILL_DETAILS.REMARKS" class="control-label"></label>
                            <input asp-for="PROC_BILL_DETAILS.REMARKS" class="form-control" />
                            <span asp-validation-for="PROC_BILL_DETAILS.REMARKS" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row" id="AttachTo">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button asp-action="CreateProcBillMasterInfo" id="btnCreateLoan" class="btn btn-success nextBtn pull-right" type="submit">Create</button>
                    <button id="addToList" class="btn btn-info pull-right mr-2" type="button">Add to List</button>
                    <a asp-action="GetProcBillMasterList" class="btn btn-dark pull-right">Back to List</a>

                </div>
            </div>

            @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive" id="prodDetails">
                    @await Html.PartialAsync($"~/Views/FPrWeavingProduction/AddProductionList.cshtml", Model)
                </div>*@
        </div>
    </form>
</div>

