@model FChemProductEntryViewModel

@{
    ViewData["Title"] = "Chemical Product Information";
}

<h2><i class="fa fa-plus-circle text-success" aria-hidden="true"></i> Create @ViewData["Title"]</h2>
<hr />

<div class="container-fluid center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form asp-action="CreateFChemProductinfo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreProductinfo.PRODUCTNAME" class="control-label"></label>
                    <input asp-for="FChemStoreProductinfo.PRODUCTNAME" class="form-control" />
                    <span asp-validation-for="FChemStoreProductinfo.PRODUCTNAME" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreProductinfo.UNIT" class="control-label"></label>
                    @Html.DropDownListFor(dt => dt.FChemStoreProductinfo.UNIT, new SelectList(Model.FBasUnitsList, "UID", "UNAME"),
                        "Select Unit", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FChemStoreProductinfo.UNIT" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreProductinfo.COUNTRIES.COUNTRY_NAME" class="control-label"></label>
                    @Html.DropDownListFor(dt => dt.FChemStoreProductinfo.ORIGIN, new SelectList(Model.Countries, "ID", "COUNTRY_NAME"),
                        "Select Origin/Country Name", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FChemStoreProductinfo.ORIGIN" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreProductinfo.TYPE" class="control-label"></label>
                    @Html.DropDownListFor(dt => dt.FChemStoreProductinfo.TYPE, new SelectList(Model.FChemTypeList, "CTID", "CTYPE"),
                        "Select Type", htmlAttributes: new { @class = "form-control js-example-basic-single" })
                    <span asp-validation-for="FChemStoreProductinfo.TYPE" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreProductinfo.SIZE" class="control-label"></label>
                    <input asp-for="FChemStoreProductinfo.SIZE" class="form-control" />
                    <span asp-validation-for="FChemStoreProductinfo.SIZE" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="FChemStoreProductinfo.REMARKS" class="control-label"></label>
                    <input asp-for="FChemStoreProductinfo.REMARKS" class="form-control" />
                    <span asp-validation-for="FChemStoreProductinfo.REMARKS" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
                    <input class="btn btn-success nextBtn pull-right" type="submit" value="Create" />
                    <a asp-action="GetFChemStrProductinfoTable" class="btn btn-dark pull-right">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptPartial_Except_jQuery");}
}