@using DevExpress.AspNetCore
@using DenimERP.Views.FPrWeavingProcessBulk.Reports
@using rpt_weaving_delivery = DenimERP.Views.FPrWeavingProcessBulk.Reports.rpt_weaving_delivery
@model string

@{
    ViewData["Title"] = "Weaving Delivery Report";
    Layout = Layout;
}
<h2>Weaving Delivery Report</h2>

@{

    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new rpt_weaving_delivery(Model))
}

@section Styles {
    <partial name="_LayoutReport" />
}

@section Scripts {
    <script asp-append-version="true" src="~/js/jquery-resizable/jquery-resizable.js"></script>
}